﻿@{
    Layout = null;
}
@model string

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IO ELB Health Check</title>
</head>
<body>
    <div>
        @if (string.IsNullOrEmpty(Model))
        {
            @:OK
        }
        else
        {
            <pre>@Model</pre>
        }
    </div>
</body>
</html>
