﻿@using IO.Practiceware.Model
@using IO.Practiceware.Web.HtmlHelper
@model IO.Practiceware.Presentation.ViewServices.IntegrationMessageManagement.MessageSearchModel
@{
    ViewBag.Title = "Message Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/jquery.timepicker.css" rel="stylesheet" type="text/css" />
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/Jquery-1.9.1.js")"> </script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.js")"> </script>
<script src="@Url.Content("~/Scripts/jquery.timepicker.js")" type="text/javascript"> </script>

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"> </script>

<script>
    $(function () {
        $("#ExternalSystemMessageProcessingState").val(@Model.ExternalSystemMessageProcessingStateId);
        $('#StartTime').timepicker({ 'timeFormat': 'H:i:s' });
        $('#EndTime').timepicker({ 'timeFormat': 'H:i:s' });
        $("#StartDate").datepicker({
            dateFormat: 'mm/dd/yy',
            changeMonth: true,
            changeYear: true
        });

        $("#EndDate").datepicker({
            dateFormat: 'mm/dd/yy',
            changeMonth: true,
            changeYear: true
        });

        var date = new Date();

        if ($("#StartDate").val() == '1/1/0001 12:00:00 AM') {
            $("#StartDate").datepicker().datepicker("setDate", new Date(date.getFullYear(), date.getMonth() - 1, 1));
        }
        if ($("#EndDate").val() == '1/1/0001 12:00:00 AM') {
            $("#EndDate").datepicker().datepicker("setDate", date);
        }

        $("#StartDate").val($("#StartDate").val().replace("00:00:00", ""));
        $("#EndDate").val($("#EndDate").val().replace("00:00:00", ""));

        $("#tabs").tabs();
        $("#selectAll").click(function () {
            if ($("#selectAll").is(':checked')) {
                $('.case').prop('checked', true);
            } else {
                $('.case').prop('checked', false);
            }
        });

        $(".case").click(function () {
            if ($(".case").length == $(".case:checked").length) {
                $("#selectAll").prop('checked', true);
            } else {
                $("#selectAll").prop('checked', false);
            }
        });
        var $firstRow = $('#HL7MessagesTable tr:nth-child(2)');
        if ($firstRow != undefined) {
            var rowMessageFirst = $firstRow.find('input[name=rowMessage]').val();
            if (rowMessageFirst != undefined) {
                rowMessageFirst.replace("\r\n", "\n");
                $("#RowMessageTextbox").text(rowMessageFirst);
            }
            var transformedMessageFirst = $firstRow.find('input[name=transformedMessage]').val();
            if (transformedMessageFirst != undefined) {
                var formattedxmlFirst = FormatXml(transformedMessageFirst);
                $('#TransformedMessageTextbox').text(formattedxmlFirst);
            }
            var errorMessageFirst = $firstRow.find('input[name=errorMessage]').val();
            if (errorMessageFirst != undefined) {
                $('#ErrorMessageTextbox').text(errorMessageFirst);
            }
            $firstRow.siblings('tr').removeClass('highlighted');
            $firstRow.toggleClass('highlighted');
        }

        $('#HL7MessagesTable tr.d0,#HL7MessagesTable tr.d1').click(function (event) {
            var $this = $(this);
            if (event.target.type !== 'checkbox' && event.target.type !== 'submit' && event.target.type != "select-one") {
                var rowMessage = $(this).find('input[name=rowMessage]').val();
                rowMessage.replace("\r\n", "\n");
                $("#RowMessageTextbox").text(rowMessage);
                var transformedMessage = $(this).find('input[name=transformedMessage]').val();
                var formattedxml = FormatXml(transformedMessage);
                $('#TransformedMessageTextbox').text(formattedxml);
                var errormessage = $(this).find('input[name=errorMessage]').val();
                $('#ErrorMessageTextbox').text(errormessage);
                $(this).siblings('tr').removeClass('highlighted');
                $(this).toggleClass('highlighted');
                if (event.target.id == 'messageValidate' || event.target.id == 'imgInValidMessage') {
                    var messageId = $(this).find('input[name=messageId]').val();
                    $.ajax({
                        type: 'Post',
                        url: '@Url.Action("ValidateMessage", "MessageManagement")',
                        data: { "ID": messageId },
                        datatype: 'html',
                        success: function (data) {
                            if (data == "\r\n") {
                                $this.find(".validImage").show();
                                $this.find(".inValidImage").hide();
                                $this.find(".validate").hide();
                            } else {

                                $this.find(".validImage").hide();
                                $this.find(".inValidImage").show();
                                $this.find(".validate").hide();
                            }
                            $("#ValidateMessageDiv").html(data);
                        },
                        error: function () {
                            alert("Error");
                        }
                    });
                }
            }
        });
        $('#HL7MessagesTable tr').hover(function () {
            $(this).addClass('hover');
        }, function () {
            $(this).removeClass('hover');
        });
    });

    function FormatXml(xml) {
        var formatted = '';
        var reg = /(>)(<)(\/*)/g;
        xml = xml.replace(reg, '$1\r\n$2$3');
        var pad = 0;
        jQuery.each(xml.split('\r\n'), function (index, node) {
            var indent = 0;
            if (node.match(/.+<\/\w[^>]*>$/)) {
                indent = 0;
            } else if (node.match(/^<\/\w/)) {
                if (pad != 0) {
                    pad -= 1;
                }
            } else if (node.match(/^<\w[^>]*[^\/]>.*$/)) {
                indent = 1;
            } else {
                indent = 0;
            }

            var padding = '';
            for (var i = 0; i < pad; i++) {
                padding += '  ';
            }

            formatted += padding + node + '\r\n';
            pad += indent;
        });
        return formatted;
    }

</script>

@using (Html.BeginForm("Post", "MessageManagement"))
{
    <table style="width: 100%">
        <tr>
            <td>Messages</td>
        </tr>
        <tr>
            <td>
                <hr />
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <label>
                                External System</label>
                        </td>
                        <td>
                            @{
    var selectList = new SelectList(Model.ExternalSystems, "Key", "Value", "SelectedValue");
                            }
                            @Html.DropDownListFor(model => Model.ExternalSystemId, selectList, "", new { @class = "text" })
                            @Html.ValidationMessageFor(model => model.ExternalSystemId)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                Start Date</label>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.StartDate, new { @class = "text", @maxlength = "12" })
                            @Html.TextBoxFor(model => model.StartTime, new { @class = "text", @maxlength = "8" })
                            <span class="">@Html.ValidationMessageFor(model => model.StartDate)</span>
                            <span class="">@Html.ValidationMessageFor(model => model.StartTime)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                End Date</label>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "text", @maxlength = "12" })
                            @Html.TextBoxFor(model => model.EndTime, new { @class = "text", @maxlength = "8" })
                            <span class="">@Html.ValidationMessageFor(model => model.EndDate)</span>
                            <span class="">@Html.ValidationMessageFor(model => model.EndTime)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                Status</label>
                        </td>
                        <td>
                            @Html.EnumDropDownListFor(model => Model.ExternalSystemMessageProcessingState)
                            <input type="submit" value="Search" id="SearchButton" name="SearchButton" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}
<div id="ValidateMessageDiv">
</div>
@{
    if (Model != null && Model.MessageModelList != null && Model.MessageModelList.Any())
    {
        using (Html.BeginForm("Post", "MessageManagement", new { startDate = Model.StartDate, startTime = Model.StartTime, endDate = Model.EndDate, endTime = Model.EndTime, Model.ExternalSystemId, externalSystemMessageProcessingStateId = Model.ExternalSystemMessageProcessingStateId, totalPages = Model.TotalPages, SelectedPage = Model.CurrentPage, Model.ExternalSystemMessageProcessingState }))
        {
    <div id="SearchIOMessagesDiv">
        <div style="float: left; text-align: left;">
            <input type="submit" value="Reprocess" id="ReprocessButton" name="ReprocessButton" />
        </div>

        <div style="text-align: right">
            @{
            if (Model.TotalPages >= Model.CurrentPage)
            {
                if (Model.TotalPages == 1)
                {

                }
                else if (Model.CurrentPage == Model.TotalPages)
                {
                <a  href="@Url.Action("SearchMessages", "MessageManagement", new { startDate = Model.StartDate, startTime = Model.StartTime, endDate = Model.EndDate, endTime = Model.EndTime, externalSystemsId = Model.ExternalSystemId, externalSystemMessageProcessingStateId = Model.ExternalSystemMessageProcessingStateId, totalPages = Model.TotalPages, SelectedPage = Model.CurrentPage - 1 })">Previous</a>
                <b>@Model.CurrentPage / @{ decimal totalpage = Model.TotalPages; }@totalpage</b>
                }
                else if (Model.CurrentPage > 1)
                {
                <a  href="@Url.Action("SearchMessages", "MessageManagement", new { startDate = Model.StartDate, startTime = Model.StartTime, endDate = Model.EndDate, endTime = Model.EndTime, externalSystemsId = Model.ExternalSystemId, externalSystemMessageProcessingStateId = Model.ExternalSystemMessageProcessingStateId, totalPages = Model.TotalPages, SelectedPage = Model.CurrentPage - 1 })">Previous</a>
                <b>@Model.CurrentPage / @{ decimal totalpageFirst = Model.TotalPages; }@totalpageFirst</b>
                <a  href="@Url.Action("SearchMessages", "MessageManagement", new { startDate = Model.StartDate, startTime = Model.StartTime, endDate = Model.EndDate, endTime = Model.EndTime, externalSystemsId = Model.ExternalSystemId, externalSystemMessageProcessingStateId = Model.ExternalSystemMessageProcessingStateId, totalPages = Model.TotalPages, SelectedPage = Model.CurrentPage + 1 })">Next</a>
                }
                else if (Model.CurrentPage <= 1)
                {
                <a  href="@Url.Action("SearchMessages", "MessageManagement", new { startDate = Model.StartDate, startTime = Model.StartTime, endDate = Model.EndDate, endTime = Model.EndTime, externalSystemsId = Model.ExternalSystemId, externalSystemMessageProcessingStateId = Model.ExternalSystemMessageProcessingStateId, totalPages = Model.TotalPages, SelectedPage = Model.CurrentPage + 1 })">Next</a>
                <b>@Model.CurrentPage / @{ decimal totalpageSecond = Model.TotalPages; }@totalpageSecond</b>
                }

                var pagelist = new SelectList(Model.PageList);
                @Html.DropDownListFor(model => Model.SelectedPage, pagelist)
                <input type="submit" value="Go" id="GoButton" name="GoButton" />                            
            }                    
                @Html.HiddenFor(model => Model.TotalPages)
            }
        </div>
        <table class="gridtable" id="HL7MessagesTable" style="width: 100%">
            <tr>
                <th>
                    <input type="checkbox" id="selectAll" /></th>
                <th><b>Date & Time</b></th>
                <th><b>Type</b></th>
                <th><b>Status</b></th>
                <th><b>Retry Attempt</b></th>
                <th><b>Validate</b></th>
            </tr>
            @{

            for (int i = 0; i < Model.MessageModelList.Count(); i++)
            {
                <tr class = "@(i % 2 == 0 ? "d0" : "d1")">
                    <td>
                        <input type="hidden" name="messageId" value="@(Model.MessageModelList[i].Id)"/>
                        <input type="hidden" name="rowMessage" value="@(Model.MessageModelList[i].Value)"/>
                        <input type="hidden" name="transformedMessage" value="@(Model.MessageModelList[i].TransformedMessage)" />
                        <input type="hidden" name="errorMessage" value="@(Model.MessageModelList[i].ErrorMessage)" />
                        @Html.CheckBoxFor(x => Model.MessageModelList[i].IsChecked, new { @class = "case" })
                        @Html.HiddenFor(x => Model.MessageModelList[i].Id)
                        @Html.HiddenFor(x => Model.MessageModelList[i].ExternalSystemMessageProcessingStateId)
                    </td>
                    <td>
                        @Html.DisplayFor(x => Model.MessageModelList[i].DateAndTime)

                    </td>
                    <td>
                        @Html.DisplayFor(x => Model.MessageModelList[i].MessageType)
                    </td>
                    <td>
                        @{
                if (Model.MessageModelList[i].RetryAttempt == 10 && Model.MessageModelList[i].ExternalSystemMessageProcessingStateId == (int)ExternalSystemMessageProcessingStateId.Processing)
                {
                            <span>Error</span>
                }
                else
                {
                            @Html.DisplayFor(x => Model.MessageModelList[i].Status)
                }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(x => Model.MessageModelList[i].RetryAttempt)
                    </td>
                    <td>
                        <a href="#" style="display: none" class="validImage">
                            <img src="~/Images/Valid.png" alt="Validate" id="imgValidMessage" style="border-style: none" /></a>
                        <a style="cursor: pointer" href="#" id="messageValidate" class="validate">Validate</a>
                        <a href="#" style="display: none" class="inValidImage">
                            <img src="~/Images/InValid.png" alt="Validate" id="imgInValidMessage" style="border-style: none" /></a>
                    </td>
                </tr>
            }
            }
        </table>
    </div>
        }
    <br />
    <div id="tabs">
        <ul>
            <li><a href="#rowMessage">Raw Message</a></li>
            <li><a href="#transformedMessage">Transformed Message</a></li>
            <li><a href="#Errors">Errors</a></li>
        </ul>
        <div id="rowMessage">
            <textarea id="RowMessageTextbox" style="display: block; width: 100%; resize: none;" rows="10" cols="165"></textarea>
        </div>
        <div id="transformedMessage">
            <textarea id="TransformedMessageTextbox" style="display: block; width: 100%; resize: none;" rows="30" cols="165"></textarea>
        </div>
        <div id="Errors">
            <textarea id="ErrorMessageTextbox" style="display: block; width: 100%; resize: none;" rows="30" cols="165"></textarea>
        </div>
    </div>
    }
    else
    {
    <p>No record found.</p>
    }
}
