﻿@{
    if (ViewBag.ValidationMessage != null)
    {
        if (ViewBag.ValidationMessage.Count > 0)
        {
            <table class="gridtable" width="100%">


                <tr>
                    <th><b>Message Validation Status</b></th>

                </tr>

                @{
                    int i = 0;
                    foreach (dynamic item in ViewBag.ValidationMessage)
                    {
                        <tr class = @(i%2 == 0 ? "d0" : "d1")>
                            <td>
                                <span style="color: red">@(item)</span>
                            </td>
                        </tr>
                        i++;
                    }
                }
                

            </table>
        }
    }
}
