﻿<#
//*********************************************************
//
//    Copyright (c) Microsoft. All rights reserved.
//    This code is licensed under the Microsoft Public License.
//    THIS CODE IS PROVIDED *AS IS* WITHOUT WARRANTY OF
//    ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING ANY
//    IMPLIED WARRANTIES OF FITNESS FOR A PARTICULAR
//    PURPOSE, MERCHANTABILITY, OR NON-INFRINGEMENT.
//
//*********************************************************
#>
<#@ template language="C#" debug="false" hostspecific="true"#>
<#@ include file="EF.Utility.CS.ttinclude"#><#@
 output extension=".cs"#><#

CodeGenerationTools code = new CodeGenerationTools(this);
MetadataTools ef = new MetadataTools(this);
MetadataLoader loader = new MetadataLoader(this);
CodeRegion region = new CodeRegion(this);

string inputFile = @"MVERepositoryModel.edmx";
EdmItemCollection ItemCollection = null;

if (!System.IO.File.Exists(inputFile))
{
	var hostServiceProvider = Host as IServiceProvider;
	EnvDTE.DTE dte = (EnvDTE.DTE)hostServiceProvider.GetService(typeof(EnvDTE.DTE));
	EnvDTE.ProjectItem containingProjectItem = dte.Solution.FindProjectItem(Host.TemplateFile);
	var project = containingProjectItem.ContainingProject;
	inputFile = GetAllProjectItems(project).Where(i => i.Name == inputFile && i.FileCount > 0).Select(i => i.FileNames[0] ?? "NotFound").FirstOrDefault();	
}

ItemCollection = loader.CreateEdmItemCollection(inputFile);
string namespaceName = code.VsNamespaceSuggestion();

EntityContainer container = ItemCollection.GetItems<EntityContainer>().FirstOrDefault();
if (container == null)
{
    return "// No EntityContainer exists in the model, so no code was generated";
}
#>
//------------------------------------------------------------------------------
// <auto-generated>
//     This code was generated from a template.
//
//     Changes to this file may cause incorrect behavior and will be lost if
//     the code is regenerated.
// </auto-generated>
//------------------------------------------------------------------------------

using System;
using System.Linq;
using System.Collections.Generic;
using Soaf.ComponentModel;
using Soaf.Domain;
<# 
if (!String.IsNullOrEmpty(namespaceName)) 
{ 
#>
using <#=code.EscapeNamespace(namespaceName)#>;
<# 
} 
#>

[assembly: Component(typeof(<#=code.Escape(container)#>), typeof(I<#=code.Escape(container)#>))]

<#
if (!String.IsNullOrEmpty(namespaceName))
{
#>
namespace <#=code.EscapeNamespace(namespaceName)#>
{
<#
    PushIndent(CodeRegion.GetIndent(1));
}
#>
[Repository(Name = "<#=code.Escape(container)#>")]
<#=Accessibility.ForType(container)#> partial interface I<#=code.Escape(container)#> 
{
  
<#
        region.Begin("IQueryable Properties", 2);

        foreach (EntitySet entitySet in container.BaseEntitySets.OfType<EntitySet>())
        {
#>

    IQueryable<<#=code.Escape(entitySet.ElementType)#>> <#=code.Escape(entitySet)#> { get; }    
<#
        }

        region.End();
#>

<#

	region.Begin("Save");

	foreach (EntitySet entitySet in container.BaseEntitySets.OfType<EntitySet>())
        {
#>

    void Save(<#=code.Escape(entitySet.ElementType)#> value);
<#
        }    

        region.End();
#>

<#

	region.Begin("Delete");

	foreach (EntitySet entitySet in container.BaseEntitySets.OfType<EntitySet>())
        {
#>

    void Delete(<#=code.Escape(entitySet.ElementType)#> value);
<#
        }    

        region.End();
#>	
<#

	region.Begin("Create Objects");

	foreach (EntitySet entitySet in container.BaseEntitySets.OfType<EntitySet>())
        {
#>

    <#=code.Escape(entitySet.ElementType)#> Create<#=code.Escape(entitySet.ElementType)#>();
<#
        }    

        region.End();
#>

<#
        region.Begin("Functions");

        foreach (EdmFunction edmFunction in container.FunctionImports)
        {
            var parameters = FunctionImportParameter.Create(edmFunction.Parameters, code, ef);
            string paramList = String.Join(", ", parameters.Select(p => 
				(p.Source.Mode != ParameterMode.In ? "out " : "") + 
				(p.FunctionParameterType == "ObjectParameter" ? code.Escape(ef.GetElementType(p.Source.TypeUsage)) : p.FunctionParameterType)
				+ " " + p.FunctionParameterName).ToArray());

            if (edmFunction.ReturnParameter == null)
            {
                continue;
            }
            string returnTypeElement = code.Escape(ef.GetElementType(edmFunction.ReturnParameter.TypeUsage));

#>

    IEnumerable<<#=returnTypeElement#>> <#=code.Escape(edmFunction)#>(<#=paramList#>);    
<#
        }

        region.End();

#>

}

<#=Accessibility.ForType(container)#> abstract partial class <#=code.Escape(container)#> : I<#=code.Escape(container)#>
{
 
<#
        region.Begin("IQueryable Properties");

        foreach (EntitySet entitySet in container.BaseEntitySets.OfType<EntitySet>())
        {
#>

    public abstract IQueryable<<#=code.Escape(entitySet.ElementType)#>> <#=code.Escape(entitySet)#> { get; }    
<#
        }

        region.End();
#>

<#

	region.Begin("Save");

	foreach (EntitySet entitySet in container.BaseEntitySets.OfType<EntitySet>())
        {
#>

    public abstract void Save(<#=code.Escape(entitySet.ElementType)#> value);
<#
        }    

        region.End();
#>

<#

	region.Begin("Delete");

	foreach (EntitySet entitySet in container.BaseEntitySets.OfType<EntitySet>())
        {
#>

    public abstract void Delete(<#=code.Escape(entitySet.ElementType)#> value);
<#
        }    

        region.End();
#>

<#

	region.Begin("Create Objects");

	foreach (EntitySet entitySet in container.BaseEntitySets.OfType<EntitySet>())
        {
#>

    public abstract <#=code.Escape(entitySet.ElementType)#> Create<#=code.Escape(entitySet.ElementType)#>();
<#
        }    

        region.End();
#>

<#
        region.Begin("Functions");

        foreach (EdmFunction edmFunction in container.FunctionImports)
        {
            var parameters = FunctionImportParameter.Create(edmFunction.Parameters, code, ef);
            string paramList = String.Join(", ", parameters.Select(p => 
				(p.Source.Mode != ParameterMode.In ? "out " : "") + 
				(p.FunctionParameterType == "ObjectParameter" ? code.Escape(ef.GetElementType(p.Source.TypeUsage)) : p.FunctionParameterType)
				+ " " + p.FunctionParameterName).ToArray());

            if (edmFunction.ReturnParameter == null)
            {
                continue;
            }
            string returnTypeElement = code.Escape(ef.GetElementType(edmFunction.ReturnParameter.TypeUsage));

#>

    public abstract IEnumerable<<#=returnTypeElement#>> <#=code.Escape(edmFunction)#>(<#=paramList#>);    
<#
        }

        region.End();

#>
	
}
<#
if (!String.IsNullOrEmpty(namespaceName))
{
    PopIndent();
#>
}
<#
}
#>

<#+
    public List<EnvDTE.ProjectItem> GetAllProjectItems(EnvDTE.Project project)
    {
        var projectItems = new List<EnvDTE.ProjectItem>();
		foreach(EnvDTE.ProjectItem projectItem in project.ProjectItems)
		{
			projectItems.Add(projectItem);
			projectItems.AddRange(GetAllProjectItems(projectItem));
		}
		return projectItems;
    }

	public List<EnvDTE.ProjectItem> GetAllProjectItems(EnvDTE.ProjectItem projectItem)
    {
        var projectItems = new List<EnvDTE.ProjectItem>();
		foreach(EnvDTE.ProjectItem childProjectItem in projectItem.ProjectItems)
		{
			projectItems.Add(childProjectItem);
			projectItems.AddRange(GetAllProjectItems(childProjectItem));
		}
		return projectItems;
    }
#>