﻿/* ------ general
-----------------------------------------------*/

body
{
	font-family: Arial, Helvetica, sans-serif;
	background: #fff;
	font-size: 11px;
}

.wrapper
{
	margin: 200px auto 0;
	width: 1000px;
}


.blocks p
{
	margin-bottom: 15px;
	position: relative;
}

.btn
{
	display: block;
	float: left;
	height: 31px;
	line-height: 31px;
	padding: 0 10px;
	background: url(../Images/bgbtn.jpg) repeat-x;
	color: #565e62;
	font-weight: bold;
	font-size: 11px;
	border: 1px solid #e1e0df;
	outline: none;
}

.multiplecheckbox, .checkbox, .select, .radio, .text, .textarea
{
	padding: 5px 10px;
	height: 27px;
	border: 1px solid #ddd;
	color: #333;
	background: url(../Images/bginput.jpg) repeat-x bottom #fff;
	position: relative;
	z-index: 2;
}

.text
{
	width: 220px;
}

.textarea
{
	height: 150px;
	width: 350px;
}
.multiplecheckbox
{
	height: 60px;
	width: 525px;
}

.blocks label
{
	float: left;
	width: 100px;
	line-height: 37px;
	text-align: right;
	margin-right: 15px;
	font-weight: bold;
	color: #666;
}

.blocks label.error, .blocks label.ok
{
	position: absolute;
	z-index: 1;
	top: -4px;
	left: 110px;
	padding: 5px 15px 5px 280px; /*reset label*/
	width: auto;
	text-align: left;
	margin: 0;
	background-repeat: no-repeat;
	background-position: 257px 16px;
}

.blocks label.ok
{
	background-image: url(../Images/icook.gif);
	background-color: #deefca;
	color: #577530;
}

.blocks label.error
{
	background-image: url(../Images/icofail.gif);
	background-color: #f5d6d7;
	color: #c81925;
}

.area label.ok, .area label.error
{
	height: 163px;
	padding-left: 410px;
	background-position: 387px 16px;
}

/* CSS3 */
.btn, .multiplecheckbox, .select, .radio, .checkbox, .text, .textarea, .blocks label.error, .blocks label.ok
{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

a
{
	color: #CCCCCC;
}

a img
{
	border: none;
}

.gendercss
{
	color: #333;
	position: relative;
	z-index: 2;
}
