﻿@using Soaf.Collections
@using IO.Practiceware.Integration.Cda
@using IO.Practiceware.Model

@model QrdaCommonModel
    <!--The organization that owns and reports the data:  the practice.  Required-->
    <custodian>
        <assignedCustodian>
            <representedCustodianOrganization>
                @{
                    <!--NPI of Main BillingOrganization-->
                    var npi = Model.MainBillingOrganization.IdentifierCodes.WithIdentifierCodeType(IdentifierCodeType.Npi);
                    if (npi != null)
                    {
                <id extension="@npi" root="@Oids.NationalProviderId" />
                    }
                    else
                    {
                        var rootAndExtension = Model.User.GetOidRootAndExtension();
                <id extension="@rootAndExtension.Extension" root="@rootAndExtension.Root" />
                    }
                }
                <name>@Model.MainBillingOrganization.Name</name>
                @{
                    var billingOrganizationPhoneNumber = Model.MainBillingOrganization.BillingOrganizationPhoneNumbers.WithPhoneNumberType(BillingOrganizationPhoneNumberTypeId.Main);
                    if (billingOrganizationPhoneNumber != null)
                    {
                <telecom use="WP" value="tel:@billingOrganizationPhoneNumber.GetFormattedValue()" />
                    }
                    else
                    {
                <telecom nullFlavor="UNK" />
                    }
                }
                <addr>
                    @{
                        var billingOrganizationAddress = Model.MainBillingOrganization.BillingOrganizationAddresses.WithAddressType(BillingOrganizationAddressTypeId.PhysicalLocation);
                        if (billingOrganizationAddress != null)
                        {
                            if (billingOrganizationAddress.Line1.IsNotNullOrEmpty())
                            {
                    <streetAddressLine>@billingOrganizationAddress.Line1</streetAddressLine>
                            }
                            else
                            {
                    <streetAddressLine nullFlavor="UNK" />
                            }
                            if (billingOrganizationAddress.Line2.IsNotNullOrEmpty())
                            {
                    <streetAddressLine>@billingOrganizationAddress.Line2</streetAddressLine>
                            }
                            if (billingOrganizationAddress.Line3.IsNotNullOrEmpty())
                            {
                    <streetAddressLine>@billingOrganizationAddress.Line3</streetAddressLine>
                            }
                            if (billingOrganizationAddress.City.IsNotNullOrEmpty())
                            {
                    <city>@billingOrganizationAddress.City</city>
                            }
                            else
                            {
                    <city nullFlavor="UNK" />
                            }
                            if (billingOrganizationAddress.StateOrProvince != null)
                            {
                    <state>@billingOrganizationAddress.StateOrProvince.Abbreviation</state>
                            }
                            else
                            {
                    <state nullFlavor="UNK" />
                            }
                            if (billingOrganizationAddress.PostalCode.IsNotNullOrEmpty())
                            {
                    <postalCode>@billingOrganizationAddress.PostalCode</postalCode>
                            }
                            if (billingOrganizationAddress.StateOrProvince.Country != null)
                            {
                    <country>@billingOrganizationAddress.StateOrProvince.Country.Abbreviation2Letters</country>
                            }
                            else
                            {
                    <country nullFlavor="UNK" />
                            }
                        }
                        else
                        {
                    <streetAddressLine nullFlavor="UNK" />
                    <city nullFlavor="UNK" />
                    <state nullFlavor="UNK" />
                    <postalCode nullFlavor="UNK" />
                    <country nullFlavor="UNK" />
                        }
                    }
                </addr>
            </representedCustodianOrganization>
        </assignedCustodian>
    </custodian>