﻿@using Soaf
@using Soaf.Collections
@using IO.Practiceware.Integration.Cda
@using IO.Practiceware.Model

@model QrdaCommonModel
    <!--In QRDA, this is a designated person in the organization (may be assigned to the report automatically).  Required.-->
    <legalAuthenticator>
        <time value="@Model.GenerationDateTimeWithTimeZoneOffset" />
        <signatureCode code="S" />
        <assignedEntity>
            @{ 
                var npi = Model.User.Providers.FirstOrDefault().IfNotNull(p => p.IdentifierCodes.WithIdentifierCodeType(IdentifierCodeType.Npi));
                if (npi != null)
                {
            <id extension="@npi" root="@Oids.NationalProviderId" />
                }
                else
                {
                    var rootAndExtension = Model.User.GetOidRootAndExtension();
            <id extension="@rootAndExtension.Extension" root="@rootAndExtension.Root" />
                }
            }
            <addr>
                @{
                    var userAddress = Model.User.UserAddresses.FirstOrDefault();
                    if (userAddress != null)
                    {
                        if (userAddress.Line1.IsNotNullOrEmpty())
                        {
                <streetAddressLine>@userAddress.Line1</streetAddressLine>
                        }
                        else
                        {
                <streetAddressLine nullFlavor="UNK" />
                        }
                        if (userAddress.Line2.IsNotNullOrEmpty())
                        {
                <streetAddressLine>@userAddress.Line2</streetAddressLine>
                        }

                        if (userAddress.Line3.IsNotNullOrEmpty())
                        {
                <streetAddressLine>@userAddress.Line3</streetAddressLine>
                        }
                        if (userAddress.City.IsNotNullOrEmpty())
                        {
                <city>@userAddress.City</city>
                        }
                        else
                        {
                <city nullFlavor="UNK" />
                        }
                        if (userAddress.StateOrProvince.Abbreviation.IsNotNullOrEmpty())
                        {
                <state>@userAddress.StateOrProvince.Abbreviation</state>
                        }
                        else
                        {
                <state nullFlavor="UNK" />
                        }
                        if (userAddress.PostalCode.IsNotNullOrEmpty())
                        {
                <postalCode>@userAddress.PostalCode</postalCode>
                        }
                        else
                        {
                <postalCode nullFlavor="UNK" />
                        }
                        if (userAddress.StateOrProvince.Country.Abbreviation2Letters.IsNotNullOrEmpty())
                        {
                            <country>@userAddress.StateOrProvince.Country.Abbreviation2Letters</country>
                        }
                        else
                        {
                <country nullFlavor="UNK" />
                        }
                    }
                    else
                    {
                <streetAddressLine nullFlavor="UNK" />
                <city nullFlavor="UNK" />
                <state nullFlavor="UNK" />
                <postalCode nullFlavor="UNK" />
                <country nullFlavor="UNK" />
                    }
                }
            </addr>
            @{
                var userPhoneNumber = Model.User.UserPhoneNumbers.WithPhoneNumberType(UserPhoneNumberTypeId.Main);
                if (userPhoneNumber != null)
                {
            <telecom use="WP" value="tel: @userPhoneNumber.GetFormattedValue()" />
                }
                else
                {
            <telecom nullFlavor="UNK" />
                }
            }
            <assignedPerson>
                <name>
                    <family>@Model.User.LastName</family>
                    @{
                        if (Model.User.Honorific.IsNotNullOrEmpty())
                        {
                    <family qualifier="AC">@(Model.User.Honorific)</family>
                        }
                    <given>@(Model.User.FirstName)</given>
                        if (Model.User.Prefix.IsNotNullOrEmpty())
                        {
                    <prefix>@(Model.User.Prefix)</prefix>
                        }
                        if (Model.User.Suffix.IsNotNullOrEmpty())
                        {
                    <suffix>@(Model.User.Suffix)</suffix>
                        }
                    }
                </name>
            </assignedPerson>
        </assignedEntity>
    </legalAuthenticator>