﻿﻿@model IO.Practiceware.Integration.PaperClaims.PaperClaim

@{var pageNumber = 0;}

@functions{

    private static string FormatZipCode(string zip)
    {
        if (zip != null && zip.Length > 5) return zip.Substring(0, 5) + "-" + zip.Substring(5);
        return zip;
    }

}

@foreach (var services in Model.Batch(Model.Services, 6))
{
    pageNumber++;

    @:<!-- DO NOT ALTER THIS LINE -->    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <meta http-equiv="X-UA-Compatible" content="IE=9" />
        <style>
            input {
                border: 0px solid #000000;
                background: transparent;
                font-size: 12px;
                height: 15px !important;
                font-family: Arial;
            }

                input.smallText {
                    font-size: 11px !important;
                }

                input.telephone {
                    font-size: 12px;
                }
        </style>
    </head>


    <body>
        <form id="form1">
            <div style="height: 1056px; width: 950px; position: relative; left: 0px; top: 40px;">

                <!-- The starting left absolute position for the first and third columns in pixels -->
                @{const int col1Left = 30;
                const int col3Left = 590; }

                <input type="text" id="BilledInsuranceName" value="@Model.BilledInsuranceName" style="z-index: 1; left: @(col3Left)px; top: -1px; position: absolute; width: 245px; z-index:100; height: 14px;" />
                <input type="text" id="BilledInsuranceAddressLine1" value="@Model.BilledInsuranceAddressLine1 @Model.BilledInsuranceAddressLine2 @Model.BilledInsuranceAddressLine3" style="z-index: 1; left: @(col3Left)px; top: 22px; position: absolute; width: 245px; height: 13px;" />
                <input type="text" id="BilledInsuranceCityState" value="@Model.BilledInsuranceCity, @Model.BilledInsuranceState   @FormatZipCode(Model.BilledInsuranceZip)" style="z-index: 1; left: @(col3Left)px; top: 48px; position: absolute; width: 200px" />

                <!-- The starting top absolute position for the first row -->
                @{ var row1Top = 125; }
                <input type="text" id="InsuranceTypeMedicare" value="@Model.ConvertTrueBoolToX(Model.InsuranceTypeIsMedicare)" style="z-index: 1; left: @(col1Left)px; top: @(row1Top)px; position: absolute; width: 10px; height: 10px; " />
                <input type="text" id="InsuranceTypeMedicaid" value="@Model.ConvertTrueBoolToX(Model.InsuranceTypeIsMedicaid)" style="z-index: 1; left: 108px; top: @(row1Top)px; position: absolute; width: 10px; height: 13px;" />
                <input type="text" id="InsuranceTypeTricare" value="@Model.ConvertTrueBoolToX(Model.InsuranceTypeIsTricare)" style="z-index: 1; left: 186px; top: @(row1Top)px; position: absolute; width: 14px; height: 14px;" />
                <input type="text" id="Champva" style="z-index: 1; left: 288px; top: @(row1Top)px; position: absolute; width: 15px; height: 11px;" />
                <input type="text" id="InsuranceTypeGroup" value="@Model.ConvertTrueBoolToX(Model.InsuranceTypeIsGroup)" style="z-index: 1; top: @(row1Top)px; position: absolute; width: 11px; height: 12px; left: 367px;" />
                <input type="text" id="Feca" style="z-index: 1; left: 454px; top: @(row1Top)px; position: absolute; width: 15px; " />
                <input type="text" id="InsuranceTypeOther" value="@Model.ConvertTrueBoolToX(Model.InsuranceTypeIsOther)" style="z-index: 1; top: @(row1Top)px; position: absolute; width: 12px; left:525px; height: 13px;" />
                <input type="text" id="BilledPolicyHolderPolicyNumber" value="@Model.BilledPolicyHolderPolicyNumber" style="z-index: 1; left: @(col3Left)px; top: @(row1Top)px; position: absolute; width: 318px" />

                <!-- The starting top absolute position for the second row -->
                @{var row2Top = 163; }
                <input type="text" id="PatientLastNameFirstNameMiddleName" value="@Model.PatientLastName, @Model.PatientFirstName @Model.PatientMiddleName" style="z-index: 1; left: @(col1Left)px; top: @(row2Top)px; position: absolute; width: 303px; right: 615px" />
                @if (Model.PatientBirthDate.HasValue)
                {
                    <input type="text" id="PatientBirthDateMonth" value="@Model.PatientBirthDate.Value.Month.ToString().PadLeft(2, "0".ToCharArray()[0])" style="z-index: 1; left: 359px; top: @(row2Top)px; position: absolute; width: 18px; height: 11px; " />
                    <input type="text" id="PatientBirthdateDay" value="@Model.PatientBirthDate.Value.Day.ToString().PadLeft(2, "0".ToCharArray()[0])" style="z-index: 1; left: 402px; top: @(row2Top)px; position: absolute; width: 17px; height: 13px;" />
                    <input type="text" id="PatientBirthdateYear" value="@Model.PatientBirthDate.Value.Year.ToString()" style="z-index: 1; top: @(row2Top)px; position: absolute; width: 35px; left: 432px; height: 9px;" />
                }

                <input type="text" id="PatientGenderMale" value="@(Model.ConvertTrueBoolToX(Model.PatientGender.HasValue && Model.PatientGender.Value == Model.Male))" style="z-index: 1; left: 485px; top: @(row2Top)px; position: absolute; width: 13px; height: 10px;" />
                <input type="text" id="PatientGenderFemale" value="@(Model.ConvertTrueBoolToX(Model.PatientGender.HasValue && Model.PatientGender.Value == Model.Female))" style="z-index: 1; left: 547px; top: @(row2Top)px; position: absolute; width: 17px; height: 12px;" />
                <input type="text" id="BilledPolicyHolderLastNameFirstNameMiddleName" value="@Model.BilledPolicyHolderLastName, @Model.BilledPolicyHolderFirstName @Model.BilledPolicyHolderMiddleName" style="z-index: 1; left: @(col3Left)px; top: @(row2Top)px; position: absolute; width: 305px" />

                @{var row3Top = 200;}
                <input type="text" id="PatientAddressLine1Line2" value="@Model.PatientAddressLine1 @Model.PatientAddressLine2" style="z-index: 1; left: @(col1Left)px; top: @(row3Top)px; position: absolute; width: 297px" />
                <input type="text" id="BilledRelationshipSelf" value="@Model.ConvertTrueBoolToX(Model.BilledRelationshipSelf)" style="z-index: 1; left: 389px; top: @(row3Top)px; position: absolute; width: 13px; height: 8px" />
                <input type="text" id="BilledRelationshipSpouse" value="@Model.ConvertTrueBoolToX(Model.BilledRelationshipSpouse)" style="z-index: 1; left: 445px; top: @(row3Top)px; position: absolute; width: 14px; height: 14px;" />
                <input type="text" id="BilledRelationshipChild" value="@Model.ConvertTrueBoolToX(Model.BilledRelationshipChild)" style="z-index: 1; left: 490px; top: @(row3Top)px; position: absolute; width: 14px; height: 13px;" />
                <input type="text" id="BilledRelationshipOther" value="@Model.ConvertTrueBoolToX(Model.BilledRelationshipOther)" style="z-index: 1; left: 547px; top: @(row3Top)px; position: absolute; width: 11px; height: 9px;" />
                <input type="text" id="BilledPolicyHolderAddressLine1Line2" value="@Model.BilledPolicyHolderAddressLine1 @Model.BilledPolicyHolderAddressLine2" style="z-index: 1; left: @(col3Left)px; top: @(row3Top)px; position: absolute; width: 309px" />

                @{var row4Top = 238; }
                <input type="text" id="PatientCity" value="@Model.PatientCity" style="z-index: 1; left: @(col1Left)px; top: @(row4Top)px; position: absolute; width: 251px" />

                <input type="text" id="PatientState" value="@Model.PatientState" style="z-index: 1; left: 313px; top: @(row4Top)px; position: absolute; width: 26px" />
                <input type="text" id="BilledPolicyHolderCity" value="@Model.BilledPolicyHolderCity" style="z-index: 1; left: @(col3Left)px; top: @(row4Top)px; position: absolute; width: 244px; right: 133px;" />
                <input type="text" id="BilledPolicyHolderState" value="@Model.BilledPolicyHolderState" style="z-index: 1; left: 864px; top: @(row4Top)px; position: absolute; width: 51px" />

                @{var row5Top = 275; }
                <input type="text" id="PatientZip" value="@FormatZipCode(Model.PatientZip)" style="z-index: 1; left: @(col1Left)px; top: @(row5Top)px; position: absolute; width: 126px; right: 787px" />
                <input type="text" id="PatientTelephone" value="@(Model.PatientTelephone)" style="z-index: 1; left: 193px; top: @(row5Top)px; position: absolute; width: 150px" class="telephone" />
                <input type="text" id="BilledPolicyHolderZip" value="@FormatZipCode(Model.BilledPolicyHolderZip)" style="z-index: 1; left: @(col3Left)px; top: @(row5Top)px; position: absolute; width: 119px" />
                <input type="text" id="BilledPolicyHolderTelephone" value="@(Model.BilledPolicyHolderTelephone)" style="z-index: 1; left: 756px; top: @(row5Top)px; position: absolute; width: 144px" class="telephone" />


                @{ var row6Top = 310;}
                <!-- Eliminate commas if no Other Policy Holder -->
                @if (Model.OtherPolicyHolderLastName != null)
                {
                    <input type="text" id="OtherPolicyHolderName" value="@Model.OtherPolicyHolderLastName, @Model.OtherPolicyHolderFirstName @Model.OtherPolicyHolderMiddleName" style="z-index: 1; left: @(col1Left)px; top: @(row6Top)px; position: absolute; width: 298px; " />
                }
                <input type="text" id="BilledPolicyHolderGroupId" value="@Model.BilledPolicyHolderGroupId" style="z-index: 1; left: @(col3Left)px; top: @(row6Top)px; position: absolute; width: 310px;" />


                @{ var row7Top = 350; }
                <input type="text" id="OtherPolicyHolderPolicyNumber" value="@Model.OtherPolicyHolderPolicyNumber" style="z-index: 1; left: @(col1Left)px; top: @(row7Top)px; position: absolute; width: 298px; right: 615px; height: 0px;" />
                <input id="EmploymentRelatedYes" value="@Model.ConvertTrueBoolToX(Model.EmploymentRelated)" type="text" style="z-index: 1; position:absolute; width:10px; top: @(row7Top)px; left: 412px; height: 11px;" />
                <input id="EmploymentRelatedNo" value="@Model.ConvertTrueBoolToX(!Model.EmploymentRelated)" type="text" style="z-index: 1; position:absolute; width:10px; top: @(row7Top)px; height: 11px; left: 480px;" />
                <input type="text" id="BilledPolicyHolderBirthDateMonth" value="@(Model.BilledPolicyHolderBirthDate.HasValue ? Model.BilledPolicyHolderBirthDate.Value.Month.ToString().PadLeft(2, "0".ToCharArray()[0]) : "")" style="z-index: 1; left: 615px; top: @(row7Top)px; position: absolute; width: 18px; height: 11px; right: 329px;" />
                <input type="text" id="BilledPolicyHolderBirthDateDay" value="@(Model.BilledPolicyHolderBirthDate.HasValue ? Model.BilledPolicyHolderBirthDate.Value.Day.ToString().PadLeft(2, "0".ToCharArray()[0]) : "")" style="z-index: 1; left: 650px; top: @(row7Top)px; position: absolute; width: 17px; height: 13px; right: 297px;" />
                <input type="text" id="BilledPolicyHolderBirthDateYear" value="@(Model.BilledPolicyHolderBirthDate.HasValue ? Model.BilledPolicyHolderBirthDate.Value.Year.ToString() : "")" style="z-index: 1; top: @(row7Top)px; position: absolute; width: 31px; left: 698px; height: 12px;" />
                <input type="text" id="BilledPolicyHolderGenderMale" value="@Model.ConvertTrueBoolToX(Model.BilledPolicyHolderGender.HasValue && Model.BilledPolicyHolderGender.Value == Model.Male)" style="z-index: 1; top: @(row7Top)px; position: absolute; width: 9px; left: 785px; height: 12px; right: 601px;" />
                <input type="text" id="BilledPolicyHolderGenderFemale" value="@Model.ConvertTrueBoolToX(Model.BilledPolicyHolderGender.HasValue && Model.BilledPolicyHolderGender.Value == Model.Female)" style="z-index: 1; top: @(row7Top)px; position: absolute; width: 12px; left: 861px; height: 14px;" />

                @{var row8Top = 390;}
                <input id="AutoAccidentYes" value="@Model.ConvertTrueBoolToX(Model.AutoAccident)" type="text" style="z-index: 1; position:absolute; width:10px; top: @(row8Top)px; left: 412px; height: 11px;" />
                <input id="AutoAccidentNo" value="@Model.ConvertTrueBoolToX(!Model.AutoAccident)" type="text" style="z-index: 1; position:absolute; width:10px; top: @(row8Top)px; left: 480px; height: 11px; " />
                <input id="AccidentState" type="text" value="@Model.AccidentState" style="z-index: 1; position:absolute; width:21px; top: @(row8Top)px; height: 13px; right: 414px; left: 525px;" />

                @{var row9Top = 423; }
                <input id="OtherAccidentYes" value="@Model.ConvertTrueBoolToX(Model.OtherAccident)" type="text" style="z-index: 1; position:absolute; width:10px; top: @(row9Top)px; left: 412px; height: 11px;" />
                <input id="OtherAccidentNo" value="@Model.ConvertTrueBoolToX(!Model.OtherAccident)" type="text" style="z-index: 1; position:absolute; width:10px; top: @(row9Top)px; left: 480px; height: 11px;" />
                <input id="BilledInsuranceName2" value="@(Model.InsuranceTypeIsMedicare ? "" : Model.BilledInsuranceName)" type="text" style="z-index: 1; top: @(row9Top)px; position: absolute; width: 318px; left: @(col3Left)px; height: 14px;" />

                @{var row10Top = 460;}
                <input type="text" id="OtherInsuranceName" value="@Model.OtherInsuranceName" style="z-index: 1; left: @(col1Left)px; top: @(row10Top)px; position: absolute; width: 298px; right: 620px; height: 0px;" />
                <input type="text" id="AnotherPlanYes" value="@Model.ConvertTrueBoolToX(Model.AnotherPlan)" style="z-index: 1; top: @(row10Top)px; position: absolute; width: 9px; left: 605px; height: 12px; right: 354px;" />
                <input type="text" id="AnotherPlanNo" value="@Model.ConvertTrueBoolToX(!Model.AnotherPlan)" style="z-index: 1; top: @(row10Top)px; position: absolute; width: 11px; left: 655px; height: 12px; right: 292px;" />


                @{var row11Top = 532; }
                <input type="text" id="ReleaseInfoSignature" value="@(Model.ReleaseInfoIsSigned ? "SIGNATURE ON FILE" : "")" style="z-index: 1; left: 100px; top: @(row11Top)px; position: absolute; width: 255px; height: 0px;" />
                <input type="text" id="ReleaseInfoServiceDate" value="@(Model.ConvertDateTimeToMMDDYYString(Model.ServiceDate, " "))" style="z-index: 1; left: 430px; top: @(row11Top)px; position: absolute; width: 138px; height: 0px;" />
                <input type="text" id="AssignBenefitsSignature" value="@(Model.AssignBenefits ? "SIGNATURE ON FILE" : "")" style="z-index: 1; left: 658px; top: @(row11Top)px; position: absolute; width: 254px;  height: 0px;" />


                @{var row12Top = 577;}
                <input type="text" id="IllnessDateMonth" value="@(Model.IllnessDate.HasValue ? Model.IllnessDate.Value.Month.ToString().PadLeft(2, "0".ToCharArray()[0]) : "")" style="z-index: 1; left: 40px; top: @(row12Top)px; position: absolute; width: 18px; right: 887px; height: 13px;" />
                <input type="text" id="IllnessDateDay" value="@(Model.IllnessDate.HasValue ? Model.IllnessDate.Value.Day.ToString().PadLeft(2, "0".ToCharArray()[0]) : "")" style="z-index: 1; left: 75px; top: @(row12Top)px; position: absolute; width: 20px; height: 12px;" />
                <input type="text" id="IllnessDateYear" value="@(Model.IllnessDate.HasValue ? Model.IllnessDate.Value.Year.ToString() : "")" style="z-index: 1; top: @(row12Top)px; position: absolute; width: 36px; left: 110px; height: 10px;" />
                <input type="text" id="IllnessDateQual" value="@(Model.IllnessDate.HasValue ? "431" : "")" style="z-index: 1; left: 200px; top: @(row12Top)px; position: absolute; width: 25px; right: 669px; height: 13px;" />

                @{var row13Top = 615;}
                <input type="text" id="ReferringDoctorFullName" value="@(string.IsNullOrEmpty(Model.ReferringOrOrderingOrSupervisingProviderFullName) ? "" : Model.ReferringOrOrderingOrSupervisingProviderNpi == Model.RenderingProviderNpi ? "DK    " + Model.ReferringOrOrderingOrSupervisingProviderFullName : "DN     " + Model.ReferringOrOrderingOrSupervisingProviderFullName)" style="z-index: 1; left: @(col1Left)px; top: @(row13Top)px; position: absolute; width: 276px; right: 637px; height: 15px;" />
                <input type="text" id="ReferringDoctorNpi" value="@(Model.InvoiceTypeEnum == Model.InvoiceTypeFacility ? Model.AttendingProviderNpi : Model.ReferringOrOrderingOrSupervisingProviderNpi)" class="smallText" style="z-index: 1; left: 385px; top: @(row13Top)px; position: absolute; width: 176px; right: 399px; height: 9px;" />
                <input type="text" id="AdminDateMonth" value="@(Model.AdmitDate.HasValue ? Model.AdmitDate.Value.Month.ToString().PadLeft(2, "0".ToCharArray()[0]) : "")" style="z-index: 1; left: 632px; top: @(row13Top)px; position: absolute; width: 18px; right: 315px; height: 13px;" />
                <input type="text" id="AdminDateDay" value="@(Model.AdmitDate.HasValue ? Model.AdmitDate.Value.Day.ToString().PadLeft(2, "0".ToCharArray()[0]) : "")" style="z-index: 1; left: 665px; top: @(row13Top)px; position: absolute; width: 20px; height: 12px;" />
                <input type="text" id="AdminDateYear" value="@(Model.AdmitDate.HasValue ? Model.AdmitDate.Value.Year.ToString() : "")" style="z-index: 1; top: @(row13Top)px; position: absolute; left: 698px; width: 36px; height: 10px;" />
                <input type="text" id="DischargeDateMonth" value="@(Model.DischargeDate.HasValue ? Model.DischargeDate.Value.Month.ToString().PadLeft(2, "0".ToCharArray()[0]) : "")" style="z-index: 1; left: 791px; top: @(row13Top)px; position: absolute; width: 24px; height: 12px;" />
                <input type="text" id="DischargeDateDay" value="@(Model.DischargeDate.HasValue ? Model.DischargeDate.Value.Day.ToString().PadLeft(2, "0".ToCharArray()[0]) : "")" style="z-index: 1; left: 823px; top: @(row13Top)px; position: absolute; width: 18px; right: 164px; height: 13px;" />
                <input type="text" id="DischargeDateYear" value="@(Model.DischargeDate.HasValue ? Model.DischargeDate.Value.Year.ToString() : "")" style="z-index: 1; top: @(row13Top)px; position: absolute; width: 36px; left: 862px; height: 10px;" />


                @{var row14Top = 650; }
                <input type="text" id="ClaimNote" value="@(string.IsNullOrEmpty(Model.ServiceNote) ? "" : Model.ServiceNote.Length > 83 ? Model.ServiceNote.Substring(0,83) : Model.ServiceNote)" style="z-index: 1; left: @(col1Left)px; top: @(row14Top)px; position: absolute; width: 520px; right: 392px; height: 15px;" />
                <input type="text" id="OutsideLabNo" value="X" style="z-index: 1; left: 660px; top: @(row14Top)px; position: absolute; width: 14px; height: 13px;" />

                @{var row145Top = 671; }
                <input type="text" id="ICDIndicator" value="@Model.DiagnosisTypeId" style="z-index: 1; left: 495px; top: @(row145Top)px; position: absolute; width: 78px; right: 818px; height: 11px;" />

                @{var row15Top = 691; }
                <input type="text" id="DiagnosisA" value="@Model.Diagnosis1.Replace(".","")" style="z-index: 1; left: 50px;  top: @(row15Top)px; position: absolute; width: 78px; right: 818px; height: 11px;" />
                <input type="text" id="DiagnosisB" value="@Model.Diagnosis2.Replace(".","")" style="z-index: 1; left: 200px; top: @(row15Top)px; position: absolute; width: 78px; right: 718px; height: 11px;" />
                <input type="text" id="DiagnosisC" value="@Model.Diagnosis3.Replace(".","")" style="z-index: 1; left: 350px; top: @(row15Top)px; position: absolute; width: 84px; right: 618px; height: 11px;" />
                <input type="text" id="DiagnosisD" value="@Model.Diagnosis4.Replace(".","")" style="z-index: 1; left: 500px; top: @(row15Top)px; position: absolute; width: 84px; right: 518px; height: 11px;" />
                <input type="text" id="DiagnosisE" value="@Model.Diagnosis5.Replace(".","")" style="z-index: 1; left: 50px;  top: @(row15Top+20)px; position: absolute; width: 78px; right: 818px; height: 11px;" />
                <input type="text" id="DiagnosisF" value="@Model.Diagnosis6.Replace(".","")" style="z-index: 1; left: 200px; top: @(row15Top+20)px; position: absolute; width: 78px; right: 718px; height: 11px;" />
                <input type="text" id="DiagnosisG" value="@Model.Diagnosis7.Replace(".","")" style="z-index: 1; left: 350px; top: @(row15Top+20)px; position: absolute; width: 84px; right: 618px; height: 11px;" />
                <input type="text" id="DiagnosisH" value="@Model.Diagnosis8.Replace(".","")" style="z-index: 1; left: 500px; top: @(row15Top+20)px; position: absolute; width: 84px; right: 518px; height: 11px;" />
                <input type="text" id="DiagnosisI" value="@Model.Diagnosis9.Replace(".","")" style="z-index: 1; left: 50px;  top: @(row15Top+40)px; position: absolute; width: 78px; right: 818px; height: 11px;" />
                <input type="text" id="DiagnosisJ" value="@Model.Diagnosis10.Replace(".","")" style="z-index: 1; left: 200px; top: @(row15Top+40)px; position: absolute; width: 78px; right: 718px; height: 11px;" />
                <input type="text" id="DiagnosisK" value="@Model.Diagnosis11.Replace(".","")" style="z-index: 1; left: 350px; top: @(row15Top+40)px; position: absolute; width: 84px; right: 618px; height: 11px;" />
                <input type="text" id="DiagnosisL" value="@Model.Diagnosis12.Replace(".","")" style="z-index: 1; left: 500px; top: @(row15Top+40)px; position: absolute; width: 84px; right: 518px; height: 11px;" />
                @if (!String.IsNullOrEmpty(@Model.ResubmitCode))
                {
                    <input type="text" id="ResubmitCodePreQualifier" value="@Model.ClaimFrequencyTypeCodeId" style="z-index: 1; left: @(col3Left)px; top: @(row15Top)px; position: absolute; width: 109px; right: 268px; height: 9px;" />
                }
                <input type="text" id="ResubmitCode" value="@Model.ResubmitCode" style="z-index: 1; left: 791px; top: @(row15Top)px; position: absolute; width: 109px; right: 268px; height: 9px;" />


                @{var row16Top = 728; }
                @if (!string.IsNullOrEmpty(Model.ReferralNumber))
                {
                    <input type="text" id="ReferralNumber" value="@Model.ReferralNumber" style="z-index: 1; left: @(col3Left)px; top: @(row16Top)px; position: absolute; width: 264px; height: 13px;" />
                }
                else if (!string.IsNullOrEmpty(Model.AuthorizationCode))
                {
                    <input type="text" id="AuthorizationCode" value="@Model.AuthorizationCode" style="z-index: 1; left: @(col3Left)px; top: @(row16Top)px; position: absolute; width: 264px; height: 13px;" />
                }
                else if(Model.Clia != null && Model.AuthorizationCode != string.Empty)
                {
                    <input type="text" id="Clia" value="@Model.Clia" style="z-index: 1; left: @(col3Left)px; top: @(row16Top)px; position: absolute; width: 264px; height: 13px;"/>
                }



                <!--  The following code loops up to 6 times (As there are a max of 6 service rows on the hicva form). -->
                @{ var beginTop = 802;
                 var beginTopRenProvTax = 782;
                 var incrementalPixels = 38;
                 var index = 0;}
                @foreach (var service in services)
                {
                    if (index == 6) { break; }

                    <input type="text" id="Line24" value="@(string.IsNullOrEmpty(service.Line24) ? "" : service.Line24.Length > 39 ? service.Line24.Substring(0,39) : service.Line24)" class="smallText" style="z-index: 1; left: 32px; top: @((beginTopRenProvTax) + (index * incrementalPixels))px; position: absolute; width: 144px; height: 14px;" />
                    <input type="text" id="ServiceDate1Month" value="@(service.ServiceDate.Month.ToString().PadLeft(2, "0".ToCharArray()[0]))" class="smallText" style="z-index: 1; left: 37px; top: @(beginTop + (index * incrementalPixels))px; position: absolute; width: 18px; height: 14px;" />
                    <input type="text" id="ServiceDate1Day" value="@(service.ServiceDate.Day.ToString().PadLeft(2, "0".ToCharArray()[0]))" class="smallText" style="z-index: 1; left: 65px; top: @(beginTop + (index * incrementalPixels))px; position: absolute; width: 18px; height: 14px;" />
                    <input type="text" id="ServiceDate1Year" value="@(service.ServiceDate.Year.ToString().PadLeft(2, "0".ToCharArray()[0]))" class="smallText" style="z-index: 1; left: 95px; top: @(beginTop + (index * incrementalPixels))px; position: absolute; width: 35px; height: 14px;" />
                    <input type="text" id="ServiceDate2Month" value="@(service.ServiceDate.Month.ToString().PadLeft(2, "0".ToCharArray()[0]))" class="smallText" style="z-index: 1; left: 138px; top: @(beginTop + (index * incrementalPixels))px; position: absolute; width: 18px;  height: 14px;" />
                    <input type="text" id="ServiceDate2Day" value="@(service.ServiceDate.Day.ToString().PadLeft(2, "0".ToCharArray()[0]))" class="smallText" style="z-index: 1; left: 165px; top: @(beginTop + (index * incrementalPixels))px; position: absolute; width: 18px; height: 14px;" />
                    <input type="text" id="ServiceDate2Year" value="@(service.ServiceDate.Year.ToString().PadLeft(2, "0".ToCharArray()[0]))" class="smallText" style="z-index: 1; left: 198px; top: @(beginTop + (index * incrementalPixels))px; position: absolute; width: 35px; height: 14px;" />
                    <input type="text" id="ServiceLocationCode" value="@((Model.InvoiceTypeEnum == Model.InvoiceTypeVision && Model.InsuranceTypeIsMedicare) ? "12" : service.ServiceLocationCode)" class="smallText" style="z-index: 1; left: 235px; top: @(beginTop + (index * incrementalPixels))px; position: absolute; width: 22px; height: 14px;" />
                    <input type="text" id="Emg" value="@(service.Emg)" class="smallText" style="z-index: 1; left: 255px; top: @(beginTop + (index * incrementalPixels))px; position: absolute; width: 22px; height: 14px;" />
                    <input type="text" id="ServiceCode" value="@(string.IsNullOrEmpty(service.ServiceCode) ? "" : service.ServiceCode.Length > 5 ? service.ServiceCode.Substring(0,5) : service.ServiceCode)" class="smallText" style="z-index: 1; left: 310px; top: @(beginTop + (index * incrementalPixels))px; position: absolute; width: 63px; right: 589px; height: 14px;" />
                    <input type="text" id="ServiceCodeModifier" value="@service.ServiceCodeModifier" class="smallText" style="z-index: 1; left: 390px; top: @(beginTop + (index * incrementalPixels))px; position: absolute; width: 123px; right: 447px; height: 14px;" />
                    <input type="text" id="DiagnosisLetters" value="@service.DiagnosisLetters" class="smallText" style="font-size:9px;z-index: 1; top: @(beginTop + (index * incrementalPixels))px; position: absolute; width: 85px; left: 525px; height: 14px;" />
                    <input type="text" id="ServiceCharge" value="@(service.ServiceCharge.HasValue ? (string.Format("{0:0.00}",service.ServiceCharge.Value)) : "")" class="smallText" style="z-index: 1; left: 585px; top: @(beginTop + (index * incrementalPixels))px; position: absolute; width: 78px; right: 293px; height: 14px; text-align:right;" />
                    <input type="text" id="ServiceUnits" value="@(string.IsNullOrEmpty(service.ServiceUnits) ? "" : service.ServiceUnits)" class="smallText" style="z-index: 1; top: @(beginTop + (index * incrementalPixels))px; position: absolute; width: 32px; left: 691px; height: 14px;" />
                    <input type="text" id="ServiceUnitOfMeasurement" value="@(service.ServiceUnitOfMeasurement == Model.Minute ? Model.GetEnumDisplay(Model.Minute) : "")" class="smallText" style="z-index: 1; top: @(beginTop + (index * incrementalPixels))px; position: absolute; width: 18px; left: 730px; height: 14px;" />
                    <input type="text" id="Epsdt" value="@(service.Epsdt)" class="smallText" style="z-index: 1; top: @(beginTop + (index * incrementalPixels))px; position: absolute; width: 18px; left: 740px; height: 14px;" />
                    <input type="text" id="RenderingProviderTaxonomy" class="smallText" value="@(Model.IsTaxonomyIncludedOnClaims ? "ZZ" + Model.RenderingProviderTaxonomy : "")" style="z-index: 1; left: 790px; top: @(beginTopRenProvTax + (index * incrementalPixels))px; position: absolute; width: 124px; right: 72px; height: 14px;" />
                    <input type="text" id="RenderingProviderNpi" class="smallText" value="@(Model.RenderingProviderNpi)" style="z-index: 1; left: 790px; top: @(beginTop + (index * incrementalPixels))px; position: absolute; width: 124px; right: 72px; height: 14px;" />
                    index++;
                }



                @{var row18Top = 1028; }
                <input type="text" id="BillingProviderTaxId" value="@Model.BillingProviderTaxId" style="z-index: 1; left: 32px; top: @(row18Top)px; position: absolute; width: 151px; right: 768px; height: 14px;" />
                <input type="text" id="SsnIndicator" value="@Model.SsnIndicator" style="z-index: 1; left: 215px; top: @(row18Top)px; position: absolute; width: 15px; right: 768px; height: 14px;" />
                <input type="text" id="EinIndicator" value="@Model.EinIndicator" style="z-index: 1; left: 230px; top: @(row18Top)px; position: absolute; width: 15px; right: 768px; height: 14px;" />
                <input type="text" id="BillingProviderTaxIdIndicator" value="" style="z-index: 1; left: 234px; top: @(row18Top)px; position: absolute; width: 15px; right: 768px; height: 14px;" />
                <input type="text" id="PatientId" value="@Model.PatientId" style="z-index: 1; left: 285px; top: @(row18Top)px; position: absolute; width: 143px; right: 533px; height: 14px;" />
                <input type="text" id="ProviderAssignBenefitsYes" value="@Model.ConvertTrueBoolToX(Model.ProviderAssignBenefits)" style="z-index: 1; left: 448px; top: @(row18Top)px; position: absolute; width: 11px; right: 502px; height: 14px;" />
                <input type="text" id="ProviderAssignBenefitsNo" value="@Model.ConvertTrueBoolToX(!Model.ProviderAssignBenefits)" style="z-index: 1; left: 508px; top: @(row18Top)px; position: absolute; width: 10px; right: 449px; height: 14px;" />

                <!-- Page number is determined by how many services were rendered.  The first 6 services are on page 1, the next 6 on page 2 etc...
                We only want to display the "Total" fields on the last page -->
                @if (pageNumber == Model.Batch(Model.Services, 6).Count())
                {
                    <input type="text" id="TotalCharges" value="@Model.TotalCharges.ToString("F")" style="z-index: 1; left: 599px; top: @(row18Top)px; position: absolute; width: 94px; right: 269px; height: 14px; text-align:right;" />
                    <input type="text" id="TotalPaid" value="@Model.TotalPaid" style="z-index: 1; left: 727px; top: @(row18Top)px; position: absolute; width: 79px; right: 169px; height: 14px; text-align:right;" />
                }


                @{var row19Top = 1060;}
                <input type="text" id="LocationName" value="@Model.LocationName" style="z-index: 1; left: 285px; top: @(row19Top)px; position: absolute; width: 278px; right: 396px; height: 10px;" />
                <input type="text" id="LocationAddressLine1Line2" value="@Model.LocationAddressLine1 @Model.LocationAddressLine2" style="z-index: 1; left: 285px; top: @(row19Top + 20)px; position: absolute; width: 278px; right: 396px; height: 10px;" />
                <input type="text" id="LocationCityStateZip" value="@Model.LocationCity, @Model.LocationState   @FormatZipCode(Model.LocationZip)" style="z-index: 1; left: 285px; top: @(row19Top + 40)px; position: absolute; width: 278px; right: 397px; height: 10px;" />

                @if (string.IsNullOrEmpty(Model.PayToAddressLine1))
                {
                    <input type="text" id="BillingProviderName" value="@Model.BillingProviderName" style="z-index: 1; left: @(col3Left)px; top: @(row19Top)px; position: absolute; width: 280px; right: 97px; height: 8px;" />
                    <input type="text" id="BillingProviderAddressLine1Line2" value="@Model.BillingProviderAddressLine1 @Model.BillingProviderAddressLine2" style="z-index: 1; left: @(col3Left)px; top: @(row19Top + 20)px; position: absolute; width: 280px; right: 94px; height: 7px;" />
                    <input type="text" id="BillingProviderCityStateZip" value="@Model.BillingProviderCity, @Model.BillingProviderState   @FormatZipCode(Model.BillingProviderZip)" style="z-index: 1; left: @(col3Left)px; top: @(row19Top + 40)px; position: absolute; width: 280px; right: 93px; height: 5px;" />
                }

                <input type="text" id="BillingProviderTaxonomy" value="@(Model.IsTaxonomyIncludedOnClaims ? "ZZ" + Model.BillingProviderTaxonomy : "")" style="z-index: 1; left: 730px; top: @(row19Top + 62)px; position: absolute; width: 98px; right: 269px; height: 9px;" />

                <input type="text" id="BillingProviderTelephone" value="@(Model.BillingProviderTelephone)" style="z-index: 1; left: 770px; top: @(row19Top - 15)px; position: absolute; width: 132px; right: 71px; height: 9px;" class="telephone" />

                @{var row20Top = 1122; }
                <input type="text" id="ProviderSignature" value="@Model.ProviderSignature" style="z-index: 1; left: 32px; top: @(row20Top-16)px; position: absolute; width: 190px; right: 768px; height: 14px;" />
                <input type="text" id="ServiceDate3" value="@(Model.ConvertDateTimeToMMDDYYString(Model.ServiceDate, " "))" style="z-index: 1; left: 224px; top: @(row20Top-16)px; position: absolute; width: 48px; right: 697px; height: 14px;" />
                <input type="text" id="LocationNpi" value="@Model.LocationNpi" style="z-index: 1; left: 290px; top: @(row20Top)px; position: absolute; width: 140px; right: 406px; height: 10px;" />
                <input type="text" id="BillingProviderNpi" value="@Model.BillingProviderNpi" style="z-index: 1; left: 595px; top: @(row20Top)px; position: absolute; width: 184px; right: 63px; height: 9px;" />

                @if (!string.IsNullOrEmpty(Model.PayToAddressLine1))
                {
                    <input type="text" id="PayToName" value="@Model.PayToName" style="z-index: 1; left: @(col3Left)px; top: @(row19Top)px; position: absolute; width: 280px; right: 97px; height: 8px;" />
                    <input type="text" id="PayToAddressLine1Line2" value="@Model.PayToAddressLine1 @Model.PayToAddressLine2" style="z-index: 1; left: @(col3Left)px; top: @(row19Top + 20)px; position: absolute; width: 280px; right: 94px; height: 7px;" />
                    <input type="text" id="PayToCityStateZip" value="@Model.PayToCity @Model.PayToState   @FormatZipCode(Model.PayToZip)" style="z-index: 1; left: @(col3Left)px; top: @(row19Top + 40)px; position: absolute; width: 280px; right: 93px; height: 5px;" />
                }
            </div>
        </form>
    </body>

</html>
}