﻿<!-- DO NOT ALTER THIS LINE -->
@model IO.Practiceware.Integration.PaperClaims.PaperClaim

<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
    <head >
        <title></title>
        <meta http-equiv="X-UA-Compatible" content="IE=9" />
        <style>
            input{ border: 0px solid #000000; background: transparent; font-size:12px;height: 15px !important; z-index: 1;
                top: 11px;
                position: absolute;
                width: 233px;
                margin-top: 0px;
                }
            input.telephone{ font-size: 13px;}
        </style>
    </head>
    
    <body>
    <form id="form1">
        <div style="height: 1056px; width: 950px; position:relative; left:0px; top: 0px;">
    
         
            <input id="BillingProviderName" value="@Model.BillingProviderName" type="text" style="position:absolute; top: 13px; left: 25px; width: 232px; bottom: 1025px;" />
            <input id="BillingProviderAddressLine1and2" value="@Model.BillingProviderAddressLine1 @Model.BillingProviderAddressLine2" type="text" style="position:absolute; top: 32px; left: 25px; width: 232px;" />
            <input id="BillingProviderCityState" value="@Model.BillingProviderCity @Model.BillingProviderState" type="text" style="position:absolute; top: 51px; left: 25px; width: 232px;" />
            <input id="BillingProviderZip" value="@Model.BillingProviderZip" type="text" style="position:absolute; top: 69px; left: 25px; width: 55px; bottom: 168px;" />

            <input id="PayToName" value="@Model.PayToName" type="text" style="position:absolute; top: 13px; left: 315px; width: 232px;" />
            <input id="PayToAddressLine1And2" value="@Model.PayToAddressLine1 @Model.PayToAddressLine2" type="text" style="position:absolute; top: 32px; left: 315px; width: 232px;" />
            <input id="PayToCityState" value="@Model.PayToCity @Model.PayToState" type="text" style="position:absolute; top: 51px; left: 315px; width: 232px; bottom: 994px;" />
            <input id="PayToZip=" value="@Model.PayToZip" type="text" style="position:absolute; top: 69px; left: 315px; width: 55px; bottom: 975px;" />
         
            <input id="PatientId" value="@Model.PatientId" type="text" style="position:absolute; top: 13px; left: 650px; width: 55px; bottom: 1026px;" />

            <input id="TypeOfBill" value="0831"type="text" style="position:absolute; top: 32px; left: 885px; width: 30px; bottom: 1010px;" />
            
            <input id="BillingProviderTaxId" value="@Model.BillingProviderTaxId" type="text" style="position:absolute; top: 70px; left: 590px; width: 90px; bottom: 975px;" />

            <input id="ServiceDate1" value="@(Model.ConvertDateTimeToMMDDYYString(Model.ServiceDate, " "))" type="text" style="position:absolute; top: 70px; left: 700px; width: 55px; bottom: 973px;" />
            <input id="ServiceDate2" value="@(Model.ConvertDateTimeToMMDDYYString(Model.ServiceDate, " "))" type="text" style="position:absolute; top: 70px; left: 775px; width: 52px; bottom: 972px;" />
         
            <input id="PatientAddressLine1Line2" value="@Model.PatientAddressLine1 @Model.PatientAddressLine2" type="text" style="position:absolute; top: 87px; left: 478px; width: 257px; bottom: 957px;" />

            <input id="PatientLastNameFirstName" value="@Model.PatientLastName, @Model.PatientFirstName" type="text" style="position:absolute; top: 107px; left: 25px; width: 262px; bottom: 938px;" />
            <input id="PatientCity" value="@Model.PatientCity" type="text" style="position:absolute; top: 107px; left: 370px; width: 257px; bottom: 938px;" />
            <input id="PatientState" value="@Model.PatientState" type="text" style="position:absolute; top: 107px; left: 738px; width: 18px; bottom: 938px;" />
            <input id="PatientZip" value="@Model.PatientZip" type="text" style="position:absolute; top: 107px; left: 800px; width: 75px; bottom: 938px;" />
         
            <input id="PatientBirthdate" value="@(Model.PatientBirthDate.HasValue ? Model.ConvertDateTimeToMMDDYYYYString(Model.PatientBirthDate.Value, " ") : "")" type="text" style="position:absolute; top: 145px; width: 75px; bottom: 903px; left: 20px;" />
            <input id="PatientGender" value="@(Model.PatientGender.HasValue ? Model.GetEnumDescription(Model.PatientGender.Value) : "")" type="text" style="position:absolute; top: 145px; width: 16px; bottom: 907px; left: 120px;" />
            <input id="TypeofAdmissionCode" value="3" type="text" style="position:absolute; top: 145px; width: 17px; bottom: 903px; left: 253px;" />
            <input id="PointOfOriginCode" value="1" type="text" style="position:absolute; top: 145px; width: 19px; bottom: 903px; left: 295px;" />
            <input id="DischargeStatus" value="01" type="text" style="position:absolute; top: 145px; width: 14px; bottom: 903px; left: 357px;" />
         
            <input id="BilledPolicyHolderFirstNameLastName" value="@Model.BilledPolicyHolderFirstName @Model.BilledPolicyHolderLastName" type="text" style="position:absolute; top: 230px; left: 25px; width: 262px; bottom: 830px;" />
            <input id="BilledPolicyHolderAddressLine1Line2" value="@Model.BilledPolicyHolderAddressLine1 @Model.BilledPolicyHolderAddressLine2" type="text" style="position:absolute; top: 249px; left: 25px; width: 257px; bottom: 813px;" />
            <input id="BilledPolicyHolderCityState" value="@Model.BilledPolicyHolderCity @Model.BilledPolicyHolderState" type="text" style="position:absolute; top: 268px; width: 224px; bottom: 798px; left:  25px;" />
            <input id="BilledPolicyHolderZip" value="@Model.BilledPolicyHolderZip" type="text" style="position:absolute; top: 287px; width: 75px; bottom: 781px; left: 25px;" />
         
            <input id="PrimaryCoinsuranceCode" value="@Model.PrimaryCoinsuranceCode" type="text" style="position:absolute; top: 237px; width: 19px; bottom: 819px; left: 504px;" />
            <input id="SecondaryCoinsuranceCode" value="@Model.SecondaryCoinsuranceCode" type="text" style="position:absolute; top: 255px; width: 19px; bottom: 807px; left: 504px; right: 460px;" />
            <input id="ThirdCoinsuranceCode" value="@Model.ThirdCoinsuranceCode" type="text" style="position:absolute; top: 274px; width: 19px; bottom: 784px; left: 504px;" />
            <input id="PrimaryDeductibleCode" value="@Model.PrimaryDeductibleCode" type="text" style="position:absolute; top: 237px; width: 19px; bottom: 818px; left: 652px; right: 322px;" />
            <input id="SecondaryDeductibleCode" value="@Model.SecondaryDeductibleCode" type="text" style="position:absolute; top: 255px; width: 19px; bottom: 789px; left: 652px;" />
            <input id="ThirdDeductibleCode" value="@Model.ThirdDeductibleCode" type="text" style="position:absolute; top: 274px; width: 19px; bottom: 783px; left: 652px;" />

            <input id="PrimaryCoinsuranceAmount" value="@Model.PrimaryCoinsuranceAmount" type="text" style="position:absolute; top: 237px; width: 67px; bottom: 817px; left: 569px; text-align:right;" />
            <input id="SecondaryCoinsuranceAmount" value="@Model.SecondaryCoinsuranceAmount" type="text" style="position:absolute; top: 255px; width: 67px; bottom: 808px; left: 569px; text-align:right;" />
            <input id="ThirdCoinsuranceAmount" value="@Model.ThirdCoinsuranceAmount" type="text" style="position:absolute; top: 274px; width: 67px; bottom: 783px; left: 569px; text-align:right;" />
            <input id="PrimaryDeductibleAmount" value="@Model.PrimaryDeductibleAmount" type="text" style="position:absolute; top: 237px; width: 67px; bottom: 816px; left: 715px; text-align:right;" />
            <input id="SecondaryDeductibleAmount" value="@Model.SecondaryDeductibleAmount" type="text" style="position:absolute; top: 255px; width: 67px; bottom: 783px; left: 715px; text-align:right;" />
            <input id="ThirdDeductibleAmount" type="text" value="@Model.ThirdDeductibleAmount" style="position:absolute; top: 274px; width: 67px; bottom: 783px; left: 715px; text-align:right;" />
         
            @{
                var beginTop = 332;                
                var incrementalPixels = 19;
                var index = 0;
            }
            @foreach(var service in Model.Services)
            {
                if (index == 22) {break;}

                <input id="RevenueCode" value="@service.RevenueCode" type="text" style="position:absolute; top: @(beginTop + (index*incrementalPixels))px; width: 31px; bottom: 735px; left: 20px;" />
                <input id="ServiceDescription" value="@service.ServiceDescription" type="text" style="position:absolute; top: @(beginTop + (index*incrementalPixels))px; width: 250px; bottom: 731px; left: 72px;" />
                <input id="ServiceCodeCodeModifier" value="@service.ServiceCode @service.ServiceCodeModifier" type="text" style="position:absolute; top: @(beginTop + (index*incrementalPixels))px; width: 134px; bottom: 731px; left: 361px;" />
                <input id="ServiceDate3" value="@(Model.ConvertDateTimeToMMDDYYString(service.ServiceDate, " "))" type="text" style="position:absolute; top: @(beginTop + (index*incrementalPixels))px; width: 57px; bottom: 734px; left: 530px; right: 407px;" />
                <input id="ServiceUnits" value="@service.ServiceUnits" type="text" style="position: absolute; top: @(beginTop + (index*incrementalPixels))px; width: 67px; bottom: 734px; left: 606px; text-align: right;" />
                <input id="ServiceCharge" value="@(string.Format("{0:0.00}",service.ServiceCharge.Value))" type="text" style="position:absolute; top: @(beginTop + (index*incrementalPixels))px; width: 67px; bottom: 730px; left: 713px; text-align:right;" />
                index++;
            }                                                                                                                                 
         
            <input id="PrintPage1" value="1" type="text" style="position:absolute; top: 745px; width: 25px; bottom: 349px; left: 115px;" />
            <input id="PrintPage2" value="1" type="text" style="position:absolute; top: 745px; width: 28px; bottom: 350px; left: 189px;" />
            <input id="PrintDate" value="@(Model.ConvertDateTimeToMMDDYYString(Model.PrintDate, ""))" type="text" style="position:absolute; top: 745px; width: 54px; bottom: 350px; left: 518px;" />
            <input id="TotalCharges" value="@(string.Format("{0:0.00}", Model.TotalCharges))" type="text" style="position:absolute; top: 745px; width: 60px; bottom: 347px; left: 721px; text-align:right;" />
            <input id="BillingProviderNpi" value="@Model.BillingProviderNpi" type="text" style="position:absolute; top: 763px; width: 100px; bottom: 333px; left: 800px;" />
         
            <input id="PrimaryPayerName" value="@Model.PrimaryPayerName" type="text" style="position:absolute; top: 782px; width: 100px; bottom: 312px; left: 25px;" />
            <input id="SecondaryPayerName" value="@Model.SecondaryPayerName" type="text" style="position:absolute; top: 802px; width: 100px; bottom: 293px; left: 25px;" />
            <input id="ThirdPayerName" value="@Model.ThirdPayerName" type="text" style="position:absolute; top: 820px; width: 100px; bottom: 277px; left: 25px;" />
         
            <input id="PrimaryPayerCode" value="@Model.PrimaryPayerCode" type="text" style="position:absolute; top: 782px; width: 100px; bottom: 312px; left: 225px;" />
            <input id="SecondaryPayerCode" value="@Model.SecondaryPayerCode" type="text" style="position:absolute; top: 802px; width: 100px; bottom: 293px; left: 225px;" />
            <input id="ThirdPayerCode" value="@Model.ThirdPayerCode" type="text" style="position:absolute; top: 820px; width: 100px; bottom: 277px; left: 225px;" />

            <input id="ReleaseInfo1" value="@(Model.ConvertTrueBoolToY(Model.ReleaseInfoIsSigned))" type="text" style="position:absolute; top: 782px; width: 12px; bottom: 312px; left: 444px;" />                                    
            <input id="ReleaseInfo2" value="@(Model.ConvertTrueBoolToY(Model.ReleaseInfoIsSigned && Model.SecondaryPayerName != null && Model.SecondaryPayerName != ""))"  type="text" style="position:absolute; top: 802px; width: 12px; bottom: 293px; left: 444px;" />
            <input id="ReleaseInfo3" value="@(Model.ConvertTrueBoolToY(Model.ReleaseInfoIsSigned && Model.ThirdPayerName != null && Model.ThirdPayerName != ""))"  type="text" style="position:absolute; top: 820px; width: 12px; bottom: 277px; left: 444px;" />
         
            <input id="AssignBenefits1" value="@(Model.ConvertTrueBoolToY(Model.AssignBenefits))" type="text" style="position:absolute; top: 782px; width: 12px; bottom: 312px; left: 477px;" />
            <input id="AssignBenefits2" value="@(Model.ConvertTrueBoolToY(Model.AssignBenefits && Model.SecondaryPayerName != null && Model.SecondaryPayerName != ""))" type="text" style="position:absolute; top: 802px; width: 12px; bottom: 293px; left: 477px;" />
            <input id="AssignBenefits3" value="@(Model.ConvertTrueBoolToY(Model.AssignBenefits && Model.ThirdPayerName != null && Model.ThirdPayerName != ""))" type="text" style="position:absolute; top: 820px; width: 12px; bottom: 277px; left: 477px; right: 494px;" />
         
            <input id="PrimaryPayment" value="@Model.PrimaryPayment" type="text" style="position:absolute; top:  782px; width: 40px; bottom: 312px; left: 564px; text-align:right;" />
            <input id="SecondaryPayment" value="@Model.SecondaryPayment" type="text" style="position:absolute; top: 802px; width: 40px; bottom: 293px; left: 564px; text-align:right;" />
            <input id="ThirdPayment" value="@Model.ThirdPayment" type="text" style="position:absolute; top: 820px; width: 40px; bottom: 277px; left: 564px; right: 494px; text-align:right;" />
         
            <input id="PrimaryBalanceDue" value="@Model.PrimaryBalanceDue" type="text" style="position:absolute; top: 782px; width: 40px; bottom: 312px; left: 686px; text-align:right;" />
            <input id="SecondaryBalanceDue" value="@Model.SecondaryBalanceDue" type="text" style="position:absolute; top: 802px; width: 40px; bottom: 293px; left: 686px; text-align:right;" />
            <input id="ThirdBalanceDue" value="@Model.ThirdBalanceDue" type="text" style="position:absolute; top: 820px; width: 40px; bottom: 277px; left: 686px; right: 494px; text-align:right;" />
         
            <input id="PrimaryInsuredLastNameFirstName" value="@Model.PrimaryInsuredLastName @Model.PrimaryInsuredFirstName" type="text" style="position:absolute; top: 855px; width: 100px; bottom: 312px; left: 25px;" />
            <input id="SecondaryInsuredLastNameFirstName" value="@Model.SecondaryInsuredLastName @Model.SecondaryInsuredFirstName" type="text" style="position:absolute; top: 874px; width: 100px; bottom: 293px; left: 25px;" />
            <input id="ThirdInsuredLastNameFirstName" value="@Model.ThirdInsuredLastName @Model.ThirdInsuredFirstName" type="text" style="position:absolute; top: 893px; width: 100px; bottom: 277px; left: 25px;" />
         
            <input id="PrimaryRelationshipCode" value="@Model.PrimaryRelationshipCode" type="text" style="position:absolute; top: 855px; width: 16px; bottom: 312px; left: 312px;" />
            <input id="SecondaryRelationshipCode" value="@Model.SecondaryRelationshipCode" type="text" style="position:absolute; top: 874px; width: 16px; bottom: 293px; left: 312px;" />
            <input id="ThirdRelationshipCode" value="@Model.ThirdRelationshipCode" type="text" style="position:absolute; top: 893px; width: 16px; bottom: 277px; left: 312px;" />
         
            <input id="PrimaryPolicyNumber" value="@Model.PrimaryPolicyNumber" type="text" style="position:absolute; top: 855px; width: 100px; bottom: 312px; left: 348px;" />
            <input id="SecondaryPolicyNumber" value="@Model.SecondaryPolicyNumber" type="text" style="position:absolute; top: 874px; width: 100px; bottom: 293px; left: 348px;" />
            <input id="ThirdPolicyNumber" value="@Model.ThirdPolicyNumber" type="text" style="position:absolute; top: 893px; width: 100px; bottom: 277px; left: 348px;" />

            <input id="Text2" value="9" type="text" style="position:absolute; top: 1007px; width: 7px; bottom: 80px; left: 12px; right: 924px;" />
         
            @{
                var beginTopDiagRow1 = 989;
                var beginLeftDiagPixels = 28;
                var incrementLeftDiagPixels = 90;
            }
            @for(int i=0; i<Model.Diagnoses.Count && i < 9; i++)
            {                                
                var diagnosis = Model.Diagnoses[i];
                
                <input id="DiagnosisCode" value="@diagnosis.Diagnosis" type="text" style="position:absolute; top: @(beginTopDiagRow1)px; width: 75px; left: @(beginLeftDiagPixels + (incrementLeftDiagPixels * i))px;" />
            }
            
            @{ var beginTopDiagRow2 = 1007;}
            @for(int i=9, y=0; i<Model.Diagnoses.Count && i < 18; i++, y++)
            {
                var diagnosis = Model.Diagnoses[i];
                <input id="DiagnosisCode" value="@diagnosis.Diagnosis" type="text" style="position:absolute; top: @(beginTopDiagRow2)px; width: 75px; left: @(beginLeftDiagPixels + (incrementLeftDiagPixels * y))px;" />
            }             
         
            <input id="ServiceDate4" value="@(Model.ConvertDateTimeToMMDDYYString(Model.ServiceDate, " "))" type="text" style="position:absolute; top: 1066px; width: 61px; bottom: 52px; left: 110px;" />
        
            <input id="AttendingProviderNPI" value="@Model.AttendingProviderNpi" type="text" style="position:absolute; top: 1043px; width: 85px; bottom: 72px; left: 692px;" />
            <input id="AttendingProviderLastName" value="@Model.AttendingProviderLastName" type="text" style="position:absolute; top: 1062px; width: 112px; bottom: 52px; left: 612px;" />
            <input id="AttendingProviderFirstName" value="@Model.AttendingProviderFirstName" type="text" style="position:absolute; top: 1062px; width: 112px; bottom: 52px; left: 825px;" />

            <input id="OperatingPhysicianNPI" value="@Model.OperatingPhysicianNpi" type="text" style="position:absolute; top: 1081px; width: 85px; bottom: 72px; left: 692px;" />
            <input id="OperatingPhysicianLastName" value="@Model.OperatingPhysicianLastName" type="text" style="position:absolute; top: 1100px; width: 112px; bottom: 52px; left: 612px;" />
            <input id="OperatingPhysicianFirstName" value="@Model.OperatingPhysicianFirstName" type="text" style="position:absolute; top: 1100px; width: 112px; bottom: 52px; left: 825px;" />
         
            <input id="ReferringDoctorNpi" value="@Model.ReferringDoctorNpi" type="text" style="position:absolute; top: 1119px; width: 85px; bottom: -36px; left: 692px;" />
            <input id="ReferringDoctorFullName" value="@Model.ReferringDoctorLastName" type="text" style="position:absolute; top: 1138px; width: 112px; bottom: -58px; left: 612px;" />
            <input id="ReferringDoctorFirstName" value="@Model.ReferringDoctorFirstName" type="text" style="position:absolute; top: 1138px; width: 112px; bottom: -58px; left: 825px;" />

            <input id="BilledInsuranceName" value="@Model.BilledInsuranceName" type="text" style="position:absolute; top: 1121px; width: 194px; bottom: 0px; left: 73px;" />
            <input id="BilledInsuranceAddressLine1Line2" value="@Model.BilledInsuranceAddressLine1 @Model.BilledInsuranceAddressLine2" type="text" style="position:absolute; top: 1140px; width: 185px; bottom: -18px; left: 22px;" />
            <input id="BilledInsuranceCityState" value="@Model.BilledInsuranceCity @Model.BilledInsuranceState" type="text" style="position:absolute; top: 1159px; width: 112px; bottom: -35px; left: 22px;" />
            <input id="BilledInsuranceZip" value="@Model.BilledInsuranceZip" type="text" style="position:absolute; top: 1178px; width: 112px; bottom: -52px; left: 22px;" />
         
            <input id="BillingProviderTaxonomy" value="@("B3 " + Model.BillingProviderTaxonomy)" type="text" style="position:absolute; top: 1121px; width: 112px; bottom: -1px; left: 310px;" />
            
        </div>

    </form>
</body>
      
</html>