﻿@using Soaf
@using Soaf.Collections
@using IO.Practiceware.Integration.Cda
@using IO.Practiceware.Model

@model QrdaCategory1Model
    <author>
        <time value="@Model.GenerationDateTimeWithTimeZoneOffset" />
        <assignedAuthor>
            <!-- IO Practiceware Tax ID -->
            <id extension="043774507" root="@Oids.TaxIdNumber" />
            <addr>
                @{
                    var billingOrganizationAddress = Model.MainBillingOrganization.BillingOrganizationAddresses.WithAddressType(BillingOrganizationAddressTypeId.PhysicalLocation);
                    if (billingOrganizationAddress != null)
                    {
                        if (billingOrganizationAddress.Line1.IsNotNullOrEmpty())
                        {
                            <streetAddressLine>@billingOrganizationAddress.Line1</streetAddressLine>
                        }
                        else
                        {
                            <streetAddressLine nullFlavor="UNK" />
                        }
                        if (billingOrganizationAddress.Line2.IsNotNullOrEmpty())
                        {
                            <streetAddressLine>@billingOrganizationAddress.Line2</streetAddressLine>
                        }
                        if (billingOrganizationAddress.Line3.IsNotNullOrEmpty())
                        {
                            <streetAddressLine>@billingOrganizationAddress.Line3</streetAddressLine>
                        }
                        if (billingOrganizationAddress.City.IsNotNullOrEmpty())
                        {
                            <city>@billingOrganizationAddress.City</city>
                        }
                        else
                        {
                            <city nullFlavor="UNK" />
                        }
                        if (billingOrganizationAddress.StateOrProvince != null)
                        {
                            <state>@billingOrganizationAddress.StateOrProvince.Abbreviation</state>
                        }
                        else
                        {
                            <state nullFlavor="UNK" />
                        }
                        if (billingOrganizationAddress.PostalCode.IsNotNullOrEmpty())
                        {
                            <postalCode>@billingOrganizationAddress.PostalCode</postalCode>
                        }

                        if (billingOrganizationAddress.StateOrProvince != null && billingOrganizationAddress.StateOrProvince.Country != null)
                        {
                            <country>@billingOrganizationAddress.StateOrProvince.Country.Abbreviation2Letters</country>
                        }
                        else
                        {
                            <country nullFlavor="UNK" />
                        }
                    }   
                    else
                    {
                        <streetAddressLine nullFlavor="UNK" />
                        <city nullFlavor="UNK" />
                        <state nullFlavor="UNK" />
                        <postalCode nullFlavor="UNK" />
                        <country nullFlavor="UNK" />
                    }
                }
            </addr>
            @{
                var billingOrganizationPhoneNumber = Model.MainBillingOrganization.BillingOrganizationPhoneNumbers.WithPhoneNumberType(BillingOrganizationPhoneNumberTypeId.Main);
                if (billingOrganizationPhoneNumber != null)
                {
                    <telecom use="WP" value="tel: @billingOrganizationPhoneNumber.GetFormattedValue()" />
                }
            }
            <assignedAuthoringDevice>
                <manufacturerModelName>IO Practiceware</manufacturerModelName>
                <softwareName>IO Practiceware</softwareName>
            </assignedAuthoringDevice>
        </assignedAuthor>
    </author>