﻿@using IO.Practiceware.Integration.Cda

@model QrdaCategory1EntryWithValueSetEntryAndDateRangeAndResultAndNotDoneModel

<entry typeCode="DRIV">
    <act classCode="ACT" moodCode="EVN">
        <templateId root="@Oids.CommunicationFromProviderToProvider" />
        <id extension="@Model.RootAndExtension.Extension" root="@Model.RootAndExtension.Root" />
        @Html.Partial("QrdaCategory1/ValueSetEntryCodeAndText", Model.ValueSetEntry)
        <statusCode code="completed" />
        <effectiveTime>
            @Html.Partial("QrdaCategory1/Low", Model.Start)                    
            @Html.Partial("QrdaCategory1/High", Model.End)                    
        </effectiveTime>
        <participant typeCode="IRCP">
            <participantRole classCode="ASSIGNED">
                <code code="158965000"
                        codeSystem="@CodeSystem.SnomedCt.Oid()"
                        codeSystemName="@CodeSystem.SnomedCt.Name()"
                        displayName="Medical Practitioner" />
            </participantRole>
        </participant>
        <participant typeCode="AUT">
            <participantRole classCode="ASSIGNED">
                <code code="158965000"
                        codeSystem="@CodeSystem.SnomedCt.Oid()"
                        codeSystemName="@CodeSystem.SnomedCt.Name()"
                        displayName="Medical Practitioner" />
            </participantRole>
        </participant>
        @if (Model.NotDoneValueSetEntry != null)
        {
            <!--Reason the Risk Category Assessment was not performed-->
        <entryRelationship typeCode="RSON">
            <observation classCode="OBS" moodCode="EVN">
                <templateId root="2.16.840.1.113883.10.20.24.3.88"/>
                <code code="410666004"
                    codeSystem="@CodeSystem.SnomedCt.Oid()"
                    codeSystemName="@CodeSystem.SnomedCt.Name()"
                    displayName="reason"/>
                <statusCode code="completed"/>
                <effectiveTime value="@Model.Start.GetValueOrDefault().FormatForCdaAlternate()"/>   
                @Html.Partial("QrdaCategory1/ValueSetEntryValue", Model.NotDoneValueSetEntry)
            </observation>
        </entryRelationship>
        }
    </act>
</entry>