﻿@using IO.Practiceware.Integration.Cda

@model QrdaCategory1EntryWithValueSetEntryAndDateRangeModel

                <entry typeCode="DRIV">
                    <encounter classCode="ENC" moodCode="EVN">
                        <templateId root="@Oids.EncounterActivities" />
                        <templateId root="@Oids.EncounterActivitiesEncounterPerformed" />
                        <id extension="@Model.RootAndExtension.Extension" root="@Model.RootAndExtension.Root" />
                                @Html.Partial("QrdaCategory1/ValueSetEntryCodeAndText", Model.ValueSetEntry)
                        <statusCode code="completed" />
                        <effectiveTime>
                            @Html.Partial("QrdaCategory1/Low", Model.Start)                    
                            @Html.Partial("QrdaCategory1/High", Model.End)                    
                        </effectiveTime>
                    </encounter>
                </entry>
