﻿@using Soaf
@using Soaf.Collections
@using IO.Practiceware.Integration.Cda
@using IO.Practiceware.Model
@model QrdaCategory1Model
<?xml version="1.0" encoding="utf-8" ?>
<?xml-stylesheet type="text/xsl" href="CDA.xsl"?>

<ClinicalDocument xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns="urn:hl7-org:v3"
    xmlns:voc="urn:hl7-org:v3/voc"
    xmlns:sdtc="urn:hl7-org:sdtc">
    <!--QRDA header-->
    <realmCode code="US" />
    <typeId extension="POCD_HD000040" root="@Oids.Hl7RegisteredModels" />
    <!-- US Realm Header Template Id-required -->
    <templateId root="@Oids.ContinuityOfCareDocumentGeneralHeader" />
    <!-- QRDA templateId - required -->
    <templateId root="@Oids.Qrda" />
    <templateId root="@Oids.QrdaClinicalDocument" />
    <id root="@Model.UniqueIdentifier" />
    <!-- QRDA document type code-required -->
    <code code="55182-0" codeSystem="@CodeSystem.Loinc.Oid()" codeSystemName="@CodeSystem.Loinc.Name()" displayName="Quality Measure Report" />
    <title>@("Clinical Quality Report for " + Model.Patient.DisplayName)</title>
    <effectiveTime value="@Model.GenerationDateTimeWithTimeZoneOffset" />
    <confidentialityCode code="N" codeSystem="@Oids.Confidentiality"/>
    <languageCode code="en-US"/>
    <!--required-->
    <recordTarget>
        <patientRole>            
            @{
                var insurance = Model.Patient.PatientInsurances.Where(d => d.IsActiveForDateTime(Model.MeasurementPeriodEndDate)).OrderBy(e => e.OrdinalId).FirstOrDefault();
                if (@insurance != null)
                {
            <id extension="@insurance.InsurancePolicy.PolicyCode" root="@Oids.MedicareHicNumber" />
                }
                else
                {
                    var rootAndExtension = Model.Patient.GetOidRootAndExtension();
            <id extension="@rootAndExtension.Extension" root="@rootAndExtension.Root" />
                }
            }
            <addr use="HP">
                @{
                    var homeAddress = Model.Patient.PatientAddresses.OrderBy(a => a.OrdinalId).FirstOrDefault();
                    if (homeAddress != null)
                    {
                        if (homeAddress.Line1.IsNotNullOrEmpty())
                        {
                <streetAddressLine>@homeAddress.Line1</streetAddressLine>
                        }
                        else
                        {
                <streetAddressLine nullFlavor="UNK" />
                        }
                        if (homeAddress.Line2.IsNotNullOrEmpty())
                        {
                <streetAddressLine>@homeAddress.Line2</streetAddressLine>
                        }
                        if (homeAddress.Line3.IsNotNullOrEmpty())
                        {
                <streetAddressLine>@homeAddress.Line3</streetAddressLine>
                        }
                        if (homeAddress.City.IsNotNullOrEmpty())
                        {
                <city>@homeAddress.City</city>
                        }
                        else
                        {
                <city nullFlavor="UNK" />
                        }
                        if (homeAddress.StateOrProvince.Abbreviation.IsNotNullOrEmpty())
                        {
                <state>@homeAddress.StateOrProvince.Abbreviation</state>
                        }
                        else
                        {
                <state nullFlavor="UNK" />
                        }
                <postalCode>@homeAddress.PostalCode</postalCode>
                <country>@homeAddress.StateOrProvince.Country.Abbreviation2Letters</country>
                    }
                    else
                    {
                <streetAddressLine nullFlavor="UNK" />
                <city nullFlavor="UNK" />
                <state nullFlavor="UNK" />
                <postalCode nullFlavor="UNK" />
                <country nullFlavor="UNK" />
                    }
                }
            </addr>
            @{
                var phoneNumber = Model.Patient.PatientPhoneNumbers.OrderBy(p => p.OrdinalId).FirstOrDefault();
                if (phoneNumber != null)
                {
                    string use;
                    if (phoneNumber.PatientPhoneNumberType == PatientPhoneNumberType.Home)
                    {
                        use = "HP";
                    }
                    else if (phoneNumber.PatientPhoneNumberType == PatientPhoneNumberType.Business)
                    {
                        use = "WP";
                    }
                    else
                    {
                        use = "MC";
                    }
            <telecom use="@use" value="tel:@phoneNumber.GetFormattedValue()" />
                }
            }
            <patient>
                <name use="L">
                    @{
                        if (Model.Patient.Prefix.IsNotNullOrEmpty())
                        {
                    <prefix>@Model.Patient.Prefix</prefix>
                        }
                        if (Model.Patient.FirstName.IsNotNullOrEmpty())
                        {
                    <given>@Model.Patient.FirstName</given>
                        }
                        else
                        {
                    <given nullFlavor="UNK" />
                        }
                        if (Model.Patient.MiddleName.IsNotNullOrEmpty())
                        {
                    <given qualifier="MID">Model.Patient.MiddleName</given>
                        }
                        if (Model.Patient.NickName.IsNotNullOrEmpty())
                        {
                    <given qualifier="CL">Model.Patient.Nickname</given>
                        }
                        if (Model.Patient.LastName.IsNotNullOrEmpty())
                        {
                    <family>@Model.Patient.LastName</family>
                        }
                        else
                        {
                    <family nullFlavor="UNK" />
                        }
                        if (Model.Patient.Honorific.IsNotNullOrEmpty())
                        {
                    <family qualifier="AC">Model.Patient.Honorific</family>
                        }
                        if (Model.Patient.Suffix.IsNotNullOrEmpty())
                        {
                    <suffix>Model.Patient.Suffix</suffix>
                        }
                    }
                </name>
                @{
                    if (Model.Patient.Gender != null)
                    {
                        string gender;
                        if (Model.Patient.Gender == Gender.Male)
                        {
                            gender = "M";
                        }
                        else if (Model.Patient.Gender == Gender.Female)
                        {
                            gender = "F";
                        }
                        else
                        {
                            gender = "U";
                        }
                <administrativeGenderCode code="@gender" 
                    codeSystem="@CodeSystem.AdministrativeGender.Oid()" 
                    codeSystemName="@CodeSystem.AdministrativeGender.Name()" 
                    displayName="@Model.Patient.Gender" />
                    }
                }
                @{
                    if (Model.Patient.DateOfBirth != null)
                    {
                <birthTime value="@Model.Patient.DateOfBirth.Value.FormatForCdaAlternate()" />
                    }
                    else
                    {
                <birthTime nullFlavor="UNK" />
                    }
                }
                @{
                    if (Model.Patient.MaritalStatus != null)
                    {
                        var marital = "";
                        if (Model.Patient.MaritalStatus == MaritalStatus.Annulled)
                        {
                            marital = "A";
                        }
                        else if (Model.Patient.MaritalStatus == MaritalStatus.Divorced)
                        {
                            marital = "D";
                        }
                        else if (Model.Patient.MaritalStatus == MaritalStatus.DomesticPartner)
                        {
                            marital = "T";
                        }
                        else if (Model.Patient.MaritalStatus == MaritalStatus.Interlocutory)
                        {
                            marital = "I";
                        }
                        else if (Model.Patient.MaritalStatus == MaritalStatus.LegallySeparated)
                        {
                            marital = "L";
                        }
                        else if (Model.Patient.MaritalStatus == MaritalStatus.Married)
                        {
                            marital = "M";
                        }
                        else if (Model.Patient.MaritalStatus == MaritalStatus.NeverMarried)
                        {
                            marital = "S";
                        }
                        else if (Model.Patient.MaritalStatus == MaritalStatus.Polygamous)
                        {
                            marital = "P";
                        }
                        else if (Model.Patient.MaritalStatus == MaritalStatus.Single)
                        {
                            marital = "S";
                        }
                        else if (Model.Patient.MaritalStatus == MaritalStatus.Widowed)
                        {
                            marital = "W";
                        }
                <maritalStatusCode code="@marital" 
                    codeSystem="@CodeSystem.MaritalStatus.Oid()" 
                    codeSystemName="@CodeSystem.MaritalStatus.Name()" 
                    displayName="@Model.Patient.MaritalStatus" />
                    }
                }
                <!--Race is required segment.  Use NULL FLAVOR if there are no patient races.ArraySegment  A patient can have multiple races so this next section should repeat until all of the patient's races are included-->
                @{
                    var raceMappings = Model.Mapper.GetCdcRaceModelMap(Model.Patient.Races);

                    if (Model.Patient.Races.Any(b => b.Name == Race.DeclinedToSpecify))
                    {
                <raceCode nullFlavor="ASKU" />
                    }
                    if (raceMappings.Any())
                    {
                        foreach (var m in raceMappings)
                        {
                <raceCode code="@m.Value.Code" 
                    codeSystem="@CodeSystem.RaceAndEthnicity.Oid()" 
                    codeSystemName="@CodeSystem.RaceAndEthnicity.Name()" 
                    displayName="@m.Value.Name" />
                        }
                    }
                    else
                    {
                <raceCode nullFlavor="UNK" />
                    }
                }
                <!--Ethnicity is required segment.  Use NULL FLAVOR if patient's ethnicity is null-->
                @{
                    var ethnicityMapping = Model.Patient.Ethnicity == null ? null : Model.Mapper.GetCdcEthnicityModelMap(new[] { Model.Patient.Ethnicity }).Select(i => i.Value).FirstOrDefault();

                    if (ethnicityMapping != null)
                    {
                <ethnicGroupCode code="@ethnicityMapping.Code" 
                    codeSystem="@CodeSystem.RaceAndEthnicity.Oid()" 
                    codeSystemName="@CodeSystem.RaceAndEthnicity.Name()" 
                    displayName="@ethnicityMapping.Name" />
                    }
                    else
                    {
                <ethnicGroupCode nullFlavor="UNK" />
                    }
                }
                <languageCommunication>
                    <templateId root="2.16.840.1.113883.3.88.11.83.2" assigningAuthorityName="HITSP/C83"/>
                    <templateId root="1.3.6.1.4.1.19376.1.5.3.1.2.1" assigningAuthorityName="IHE/PCC"/>
                    <languageCode code="@Model.Patient.Language.Abbreviation" />
                    <preferenceInd value="true" />
                </languageCommunication>
            </patient>
        </patientRole>
    </recordTarget>
    @Html.Partial("QrdaCategory1/Author", Model)
    @Html.Partial("QrdaShared/Custodian", Model)
    @Html.Partial("QrdaShared/LegalAuthenticator", Model)
    <!--This is where the reporting doctor is defined. Required for QRDA.-->
    <documentationOf typeCode="DOC">
        <serviceEvent classCode="PCPR">
            <effectiveTime>
                @{
                    var firstEncounterStart = Model.Patient.Encounters.OrderBy(e => e.StartDateTime).Select(i => i.StartDateTime).FirstOrDefault();
                 }
                @Html.Partial("QrdaCategory1/Low", firstEncounterStart)
                @Html.Partial("QrdaCategory1/High", Model.GenerationDateTime)
            </effectiveTime>
            <performer typeCode="PRF">
                <time>
                    @{
                        var firstEncounterForUser = Model.Patient.Encounters.Where(e => e.EncounterStatus == EncounterStatus.Discharged && e.Appointments.OfType<UserAppointment>().Any(a => a.UserId == Model.User.Id)).OrderBy(e => e.StartDateTime).FirstOrDefault();
                    }
                    @Html.Partial("QrdaCategory1/Low", firstEncounterForUser == null ? firstEncounterStart : firstEncounterForUser.StartDateTime)
                    @Html.Partial("QrdaCategory1/High", Model.GenerationDateTime)
                </time>
                <assignedEntity>
                    <id root="@Oids.NationalProviderId" extension="@Model.User.Providers.FirstOrDefault().IdentifierCodes.WithIdentifierCodeType(IdentifierCodeType.Npi)" />
                    <id root="@Oids.Taxonomy" extension="@Model.User.Providers.FirstOrDefault().IdentifierCodes.WithIdentifierCodeType(IdentifierCodeType.Taxonomy)" />
                    <representedOrganization>
                        <id root="@Oids.TaxIdNumber" extension="@Model.MainBillingOrganization.IdentifierCodes.WithIdentifierCodeType(IdentifierCodeType.TaxId)" />
                    </representedOrganization>
                </assignedEntity>
            </performer>
        </serviceEvent>
    </documentationOf>
    <!--End of the QRDA header-->
    <!--QRDA Body, which has three required sections:  Measure Section, Reporting Parameters Section, and Patient Data Section-->
    <component>
        <structuredBody>
            <component>
                <section>
                    <!-- Measure Section-->
                    <templateId root="@Oids.MeasureSection" />
                    <templateId root="@Oids.QdmMeasureSection" />
                    <code code="55186-1" codeSystem="@CodeSystem.Loinc.Oid()" />
                    <title>Measure Section</title>
                    <text>
                        <table border="1" width="100%">
                            <thead>
                                <tr>
                                    <th>eMeasure Title</th>
                                    <th>Version neutral identifier</th>
                                    <th>eMeasure Version Number</th>
                                    <th>NQF eMeasure Number</th>
                                    <th>Version specific identifier</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.ElectronicClinicalQualityMeasure.MeasureTitle</td>
                                    <td>@Model.ElectronicClinicalQualityMeasure.VersionNeutralId</td>
                                    <td>@Model.ElectronicClinicalQualityMeasure.MeasureVersion</td>
                                    <td>@Model.ElectronicClinicalQualityMeasure.NationalQualityForumCode</td>
                                    <td>@Model.ElectronicClinicalQualityMeasure.VersionSpecificId</td>
                                </tr>
                            </tbody>
                        </table>
                    </text>
                    <!--Each organizer refers to one eMeasure.  One measure per file for CMS.-->
                    <entry>
                        <organizer classCode="CLUSTER" moodCode="EVN">
                            <templateId root="@Oids.MeasureReference" />
                            <templateId root="@Oids.QdmElectronicMeasureReference" />
                            <statusCode code="completed" />
                            <reference typeCode="REFR">
                                <externalDocument classCode="DOC" moodCode="EVN">
                                    <id root="@Model.ElectronicClinicalQualityMeasure.VersionSpecificId" />
                                    <code code="57024-2" 
                                        codeSystem="@CodeSystem.Loinc.Oid()" 
                                        codeSystemName="@CodeSystem.Loinc.Name()" 
                                        displayName="Health Quality Measure Document" />
                                    <text>@Model.ElectronicClinicalQualityMeasure.MeasureTitle</text>
                                    <setId root="@Model.ElectronicClinicalQualityMeasure.VersionNeutralId" />
                                    <versionNumber value="@Model.ElectronicClinicalQualityMeasure.MeasureVersion" />
                                </externalDocument>
                            </reference>
                        </organizer>
                    </entry>
                </section>
            </component>
            <!--Reporting Parameters section-->
            <component>
                <section>
                    <templateId root="@Oids.ReportingParametersSection" />
                    <code code="55187-9" codeSystem="@CodeSystem.Loinc.Oid()" />
                    <title>Reporting Parameters</title>
                    <text>
                        <list>
                            <item>Reporting period: @Model.MeasurementPeriodStartDate.FormatForCdaTextElement() - @Model.MeasurementPeriodEndDate.FormatForCdaTextElement()</item>
                        </list>
                    </text>
                    <entry typeCode="DRIV">
                        <act classCode="ACT" moodCode="EVN">
                            <templateId root="@Oids.ReportingParametersAct" />
                            <code code="252116004" codeSystem="@CodeSystem.SnomedCt.Oid()" displayName="Observation Parameters" />
                            <effectiveTime>
                                <low value="@Model.MeasurementPeriodStartDate.FormatForCda()" />
                                <high value="@Model.MeasurementPeriodEndDate.FormatForCda()" />
                            </effectiveTime>
                        </act>
                    </entry>
                </section>
            </component>
            <!-- Patient Data section -->
            <component>
                <section>
                    <templateId root="@Oids.PatientDataSection" />
                    <templateId root="@Oids.QdmPatientDataSection" />
                    <code code="55188-7" codeSystem="@CodeSystem.Loinc.Oid()" />
                    <title>Patient Data</title>
                    <text>
                        <table border="1" width="100%">
                            <thead>
                                <tr>
                                    <th>Data Element - Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </text>
                    @*@Html.Partial("QrdaCategory1/SupplementalDataPatientPayerEntry", Model)*@
                    <!--The entry templates are used only if the measure calls for it and the patient has the appropriate data.  If the data is not present, do not render the template.-->
                    @foreach (var m in Model.EncounterActivitiesEncounterPerformedEntryModels)
                    {
                        @Html.Partial("QrdaCategory1/EncounterActivitiesEncounterPerformedEntry", m)
                    }
                    @foreach (var m in Model.ProcedureActivityPerformedProcedurePerformedEntryModels)
                    {
                        @Html.Partial("QrdaCategory1/ProcedureActivityPerformedProcedurePerformedEntry", m)
                    }
                    @foreach (var m in Model.ProcedureActivityActInterventionPerformedEntryModels)
                    {
                        @Html.Partial("QrdaCategory1/ProcedureActivityActInterventionPerformedEntry", m)
                    }
                    @foreach (var m in Model.ProblemObservationDiagnosisActiveEntryModels)
                    {
                        @Html.Partial("QrdaCategory1/ProblemObservationDiagnosisActiveEntry", m)
                    }
                    @foreach (var m in Model.MedicationActivityMedicationActiveEntryModels)
                    {
                        @Html.Partial("QrdaCategory1/MedicationActivityMedicationActiveEntry", m)
                    }
                    @foreach (var m in Model.ResultObservationDiagnosticStudyResultEntryModels)
                    {
                        @Html.Partial("QrdaCategory1/ResultObservationDiagnosticStudyResultEntry", m)
                    }
                    @foreach (var m in Model.CommunicationProviderToProviderEntryModels)
                    {
                        @Html.Partial("QrdaCategory1/CommunicationProviderToProviderEntry", m)                    
                    }
                    @foreach (var m in Model.ProcedureActivityObservationDiagnosticStudyPerformedEntryModels)
                    {
                        @Html.Partial("QrdaCategory1/ProcedureActivityObservationDiagnosticStudyPerformedEntry", m)
                    }
                    @foreach (var m in Model.TobaccoUseEntryModels)
                    {
                        @Html.Partial("QrdaCategory1/TobaccoUseEntry", m)
                    }
                    @foreach (var m in Model.AssessmentScaleObservationRiskCategoryAssessmentEntryModels)
                    {
                        @Html.Partial("QrdaCategory1/AssessmentScaleObservationRiskCategoryAssessmentEntry", m)
                    }
                    @foreach (var m in Model.PlanOfCareActivitySubstanceAdministrationMedicationOrderEntryModels)
                    {
                        @Html.Partial("QrdaCategory1/PlanOfCareActivitySubstanceAdministrationMedicationOrderEntry", m)
                    }
                    @foreach (var m in Model.PlanOfCareActivityActInterventionOrderEntryModels)
                    {
                        @Html.Partial("QrdaCategory1/PlanOfCareActivityActInterventionOrderEntry", m)
                    }
                    @foreach (var m in Model.ProcedureActivityObservationPhysicalExamPerformedEntryModels)
                    {
                        @Html.Partial("QrdaCategory1/ProcedureActivityObservationPhysicalExamPerformedEntry", m)
                    }
                    @foreach (var m in Model.ResultObservationPhysicalExamFindingEntryModels)
                    {
                        @Html.Partial("QrdaCategory1/ResultObservationPhysicalExamFindingEntry", m)
                    }
                    @foreach (var m in Model.SupplementalDataPatientPayerEntryModels)
                    {
                        @Html.Partial("QrdaCategory1/SupplementalDataPatientPayerEntry", m)
                    }
                </section>
            </component>
        </structuredBody>
    </component>
</ClinicalDocument>
