﻿@using IO.Practiceware.Integration.Cda

@model QrdaCategory1EntryWithValueSetEntryAndDateRangeAndDescriptionModel

<entry typeCode = "DRIV" >
    <substanceAdministration classCode = "SBADM" moodCode = "EVN" >
        <templateId root = "@Oids.MedicationActivity"/>
        <templateId root = "@Oids.MedicationActivityMedicationActive"/>
        <id extension = "@Model.RootAndExtension.Extension" root = "@Model.RootAndExtension.Root"/>
        <text>Medication active: @Model.Description</text>
        <statusCode code="active"/>
        <effectiveTime xsi:type="IVL_TS">
            @Html.Partial("QrdaCategory1/Low", Model.Start)
            @Html.Partial("QrdaCategory1/High", Model.End)
        </effectiveTime>
        <!--this is the medication-->
        <consumable>
            <manufacturedProduct classCode="MANU">
                <templateId root="@Oids.MedicationInformation" />
                <id extension="@Model.RootAndExtension.Extension" root="@Model.RootAndExtension.Root" />
                <manufacturedMaterial>
                    @Html.Partial("QrdaCategory1/ValueSetEntryCode", Model.ValueSetEntry)
                </manufacturedMaterial>
            </manufacturedProduct>
        </consumable>
    </substanceAdministration>
</entry>
 