﻿@using IO.Practiceware.Integration.Cda

@model PlanOfCareActivityActInterventionOrderEntryModel

                <entry typeCode="DRIV">
                    <act classCode="ACT" moodCode="RQO">
                        <templateId root="@Oids.PlanOfCareActivityAct" />
                        <templateId root="@Oids.PlanOfCareActivityActInterventionOrder" />
                        <id extension="@Model.RootAndExtension.Extension" root="@Model.RootAndExtension.Root" />
                        @Html.Partial("QrdaCategory1/ValueSetEntryCodeAndText", Model.ValueSetEntry)
                        <statusCode code="completed" />
                        <author>
                            <time value="@Model.Start.GetValueOrDefault().FormatForCdaAlternate()" />
                            <!--This is the ordering provider.  Required. -->
                            <assignedAuthor>
                                <id extension="@Model.AuthorRootAndExtension.Extension" root="@Model.AuthorRootAndExtension.Root" />
                            </assignedAuthor>
                        </author>
                        <effectiveTime>
                            @Html.Partial("QrdaCategory1/Low", Model.Start)                 
                            @Html.Partial("QrdaCategory1/High", Model.End)
                        </effectiveTime>
                    </act>
                </entry>
