﻿@using IO.Practiceware.Integration.Cda

@model ProblemObservationDiagnosisActiveEntryModel

<entry typeCode="DRIV">
    <observation classCode="OBS" moodCode="EVN">
        <templateId root="@Oids.ProblemObservation" />
        <templateId root="@Oids.ProblemObservationDiagnosisActive" />
        <id extension="@Model.RootAndExtension.Extension" root="@Model.RootAndExtension.Root" />
        <code code="282291009" codeSystem="@CodeSystem.SnomedCt.Oid()" codeSystemName="@CodeSystem.SnomedCt.Name()" displayName="diagnosis" />
        <text>@Model.ValueSetEntry.ValueSet.Name() (Code List: @Model.ValueSetEntry.ValueSet.Oid())</text>
        <statusCode code="completed" />
        <effectiveTime>
            @Html.Partial("QrdaCategory1/Low", Model.Start)                    
            @Html.Partial("QrdaCategory1/High", Model.End)   
        </effectiveTime>
        <value code="@Model.ValueSetEntry.Code"
                codeSystem="@Model.ValueSetEntry.CodeSystemOid"
                codeSystemName="@Model.ValueSetEntry.CodeSystem.Name()"
                xsi:type="CD"
                sdtc:valueSet="@Model.ValueSetEntry.ValueSet.Oid()">
            <originalText>@Model.ValueSetEntry.ValueSet.Name() (Code List: @Model.ValueSetEntry.ValueSet.Oid())</originalText>
            @if (Model.Laterality != null)
            {
                <qualifier>
                    <name code="272741003"
                            codeSystem="@CodeSystem.SnomedCt.Oid()"
                            codeSystemName="@CodeSystem.SnomedCt.Name()"
                            displayName="laterality" />
                    <!--sample uses code="2.16.840.1.113883.3.67.1.101.1.8902" I don't understand what that means-->
                    <value xsi:type="CD"
                            code="@Model.Laterality.ConceptId"
                            codeSystem="@CodeSystem.SnomedCt.Oid()"
                            codeSystemName="@CodeSystem.SnomedCt.Name()"
                            displayName="@Model.Laterality.Term" />
                </qualifier>
            }
        </value>
        @{
            if (Model.Status != null)
            {
        <entryRelationship typeCode="REFR">
            <observation classCode="OBS" moodCode="EVN">
                <templateId root="@Oids.ProblemStatus" />
                <templateId root="@Oids.ProblemStatusActive" />
                <id extension="@Model.RootAndExtension.Extension" root="@Model.RootAndExtension.Root" />
                <code code="33999-4"
                        codeSystem="@CodeSystem.Loinc.Oid()"
                        codeSystemName="@CodeSystem.Loinc.Name()"
                        displayName="status" />
                <statusCode code="completed"/>
                <value xsi:type="CD"
                        code="@Model.Status.ConceptId"
                        displayName="@Model.Status.Term"
                        codeSystem="@CodeSystem.SnomedCt.Oid()"
                        codeSystemName="@CodeSystem.SnomedCt.Name()" />
            </observation>
        </entryRelationship>
            }
            if (Model.Severity != null)
            {
        <entryRelationship typeCode="REFR">
            <observation classCode="OBS" moodCode="EVN">
                <templateId root="@Oids.SeverityObservation" />
                <id extension="@Model.RootAndExtension.Extension" root=" @Model.RootAndExtension.Root " />
                <!--don't know how to do this with the enums. Used our unit test sample for this-->
                <code code="SEV"
                    codeSystem="@CodeSystem.ActCode.Oid()"
                    codeSystemName="@CodeSystem.ActCode.Name()"
                    displayName="severity" />
                <statusCode code="completed" />
                <!--from value set ProblemSeverity 2.16.840.1.113883.3.88.12.3221.6.8 -->
                <value xsi:type="CD"
                    code="@Model.Severity.ConceptId"
                    codeSystem="@CodeSystem.SnomedCt.Oid()"
                    codeSystemName="@CodeSystem.SnomedCt.Name()"
                    displayName="@Model.Severity.Term" />
            </observation>
        </entryRelationship>
            }
        }
    </observation>
</entry>
