﻿@using IO.Practiceware.Integration.Cda

@model QrdaCategory1EntryWithValueSetEntryAndDateRangeAndResultAndNotDoneModel

<entry typeCode="DRIV">
    <procedure classCode="PROC" moodCode="EVN">
        <templateId root="@Oids.ProcedureActivityProcedure" />
        <templateId root="@Oids.ProcedureActivityProcedureProcedurePerformed" />
        <id extension="@Model.RootAndExtension.Extension" root="@Model.RootAndExtension.Root" />
        @Html.Partial("QrdaCategory1/ValueSetEntryCodeAndText", Model.ValueSetEntry)
        <statusCode code="completed" />
        <effectiveTime>
            @Html.Partial("QrdaCategory1/Low", Model.Start)
            @Html.Partial("QrdaCategory1/High", Model.End)            
        </effectiveTime>
        @if (Model.NotDoneValueSetEntry != null)
        {
        <entryRelationship typeCode="RSON">
            <observation classCode="OBS" moodCode="EVN">
                <templateId root="2.16.840.1.113883.10.20.24.3.88"/>
                <code code="41066004"
                        codeSystem="@CodeSystem.SnomedCt.Oid()"
                        codeSystemName="@CodeSystem.SnomedCt.Name()"
                        displayName="reason"/>
                @Html.Partial("QrdaCategory1/ValueSetEntryValue", Model.NotDoneValueSetEntry)
            </observation>
        </entryRelationship>
        }
        @if(Model.Laterality != null)
        {
        <!--anatomical location - which eye.  If we're using one of the Not Performed Reasons, don't do TargetSite-->
        <targetSiteCode code="@Model.Laterality.ConceptId"
            codeSystem="@CodeSystem.SnomedCt.Oid()"
            codeSystemName="@CodeSystem.SnomedCt.Name()"
            displayName="@Model.Laterality.Term" />
        }
    </procedure>
</entry>