﻿@using IO.Practiceware.Integration.Cda

@model QrdaCategory1EntryWithValueSetEntryAndDateRangeAndResultAndNotDoneModel

<entry typeCode="DRIV">
    <observation classCode="OBS" moodCode="EVN">
        <templateId root="@Oids.ProcedureActivityObservation" />
        <templateId root="@Oids.ProcedureActivityObservationDiagnosticStudyPerformed" />
        <id extension="@Model.RootAndExtension.Extension" root="@Model.RootAndExtension.Root" />
        @Html.Partial("QrdaCategory1/ValueSetEntryCode", Model.ValueSetEntry)
        <statusCode code="completed" />
        <effectiveTime>
            @Html.Partial("QrdaCategory1/Low", Model.Start)                    
            @Html.Partial("QrdaCategory1/High", Model.End) 
        </effectiveTime>
        <!--Reason the diagnostic study was not performed-->
        @if (Model.NotDoneValueSetEntry != null)
        {
            <entryRelationship typeCode="RSON">
                <observation classCode="OBS" moodCode="EVN">
                    <templateId root="2.16.840.1.113883.10.20.24.3.88"/>
                    <code code="41066004"
                            codeSystem="@CodeSystem.SnomedCt.Oid()"
                            codeSystemName="@CodeSystem.SnomedCt.Name()"
                            displayName="reason"/>
                    @Html.Partial("QrdaCategory1/ValueSetEntryValue", Model.NotDoneValueSetEntry)
                </observation>
            </entryRelationship>
        }
    </observation>
</entry>

