﻿@using IO.Practiceware.Integration.Cda

@model QrdaCategory1EntryWithValueSetEntryAndDateRangeModel

<entry typeCode="DRIV">
    <act classCode="ACT" moodCode="EVN">
        <templateId root="@Oids.ProcedureActivityAct" />
        <templateId root="@Oids.ProcedureActivityActInterventionPerformed" />
        <id extension="@Model.RootAndExtension.Extension" root="@Model.RootAndExtension.Root" />
        @Html.Partial("QrdaCategory1/ValueSetEntryCodeAndText", Model.ValueSetEntry)
        <statusCode code="completed" />
        <effectiveTime>
            @Html.Partial("QrdaCategory1/Low", Model.Start)
            @Html.Partial("QrdaCategory1/High", Model.End)
        </effectiveTime>
    </act>
</entry>

