﻿@using IO.Practiceware.Integration.Cda

@model QrdaCategory1EntryWithValueSetEntryAndDateRangeAndResultModel

 <entry typeCode="DRIV">
    <observation classCode="OBS" moodCode="EVN">
        <templateId root="@Oids.ResultsObservation" />
        <templateId root="@Oids.ResultObservationPhysicalExamFinding" />
        <id extension="@Model.RootAndExtension.Extension" root="@Model.RootAndExtension.Root" />
        @Html.Partial("QrdaCategory1/ValueSetEntryCodeAndText", Model.ValueSetEntry)
        <statusCode code="completed" />
        <effectiveTime>
            @Html.Partial("QrdaCategory1/Low", Model.Start)                    
            @Html.Partial("QrdaCategory1/High", Model.End)     
        </effectiveTime>
        @{
            if (Model.ResultValue != null)
            {
        <value xsi:type="PQ" unit="@Model.ResultUnitOfMeasurement" value="@Model.ResultValue" />
            }
            else if (Model.ResultValueSetEntry != null)
            {
                @Html.Partial("QrdaCategory1/ValueSetEntryValue", Model.ResultValueSetEntry)
            }
        }
        @if (Model.Laterality != null)
        {
<!--anatomical location - which eye. -->
        <targetSiteCode code="@Model.Laterality.ConceptId"
            codeSystem="@CodeSystem.SnomedCt.Oid()"
            codeSystemName="@CodeSystem.SnomedCt.Name()"
            displayName="@Model.Laterality.Term" />
        }
    </observation>
</entry>