﻿@using IO.Practiceware.Integration.Cda

@model QrdaCategory1EntryWithValueSetEntryAndDateRangeAndResultAndNotDoneModel

<entry typeCode="DRIV">
    <observation classCode="OBS" moodCode="EVN">
        <templateId root="@Oids.ResultsObservation" />
        <templateId root="@Oids.ResultObservationDiagnosticStudyResult" />
        <id extension="@Model.RootAndExtension.Extension" root="@Model.RootAndExtension.Root" />
        
        @* Requires xsi:type="CD" which is not in the reusable ValueSetEntryCodeAndText template. *@
        <code code ="@Model.ValueSetEntry.Code" codeSystem="@Model.ValueSetEntry.CodeSystem.Oid()" codeSystemName="@Model.ValueSetEntry.CodeSystem.Name()" xsi:type="CD" sdtc:valueSet="@Model.ValueSetEntry.ValueSet.Oid()">
            <originalText>@Model.ValueSetEntry.ValueSet.Name() (Code List: @Model.ValueSetEntry.ValueSet.Oid())</originalText>
        </code>
        <text>@Model.ValueSetEntry.ValueSet.Name() (Code List: @Model.ValueSetEntry.ValueSet.Oid())</text>       

        <statusCode code="completed" />
        <effectiveTime>
            @Html.Partial("QrdaCategory1/Low", Model.Start)                    
            @Html.Partial("QrdaCategory1/High", Model.End)       
        </effectiveTime>
        @{
    if (Model.ResultValue != null)
    {
        if (Model.ResultType == null || Model.ResultType == "PQ")
        {
        <value xsi:type="PQ" unit="@Model.ResultUnitOfMeasurement" value="@Model.ResultValue" />
        }
        else
        {
        <value xsi:type="@Model.ResultType">@Model.ResultValue</value>
        }
    }
    else if (Model.ResultValueSetEntry != null)
    {
                @Html.Partial("QrdaCategory1/ValueSetEntryValue", Model.ResultValueSetEntry)
            }
        }
        @if (Model.NotDoneValueSetEntry != null)
        {
        <entryRelationship typeCode="RSON">
            <observation classCode="OBS" moodCode="EVN">
                <templateId root="2.16.840.1.113883.10.20.24.3.88"/>
                <code code="41066004"
                    codeSystem="@CodeSystem.SnomedCt.Oid()"
                    codeSystemName="@CodeSystem.SnomedCt.Name()"
                    displayName="reason"/>
                @Html.Partial("QrdaCategory1/ValueSetEntryValue", Model.NotDoneValueSetEntry)
            </observation>
        </entryRelationship>
        }
        @if (Model.Laterality != null)
        {
        <!--anatomical location - which eye.  If we're using one of the Not Performed Reasons, don't do TargetSite-->
        <targetSiteCode code="@Model.Laterality.ConceptId"
            codeSystem="@CodeSystem.SnomedCt.Oid()"
            codeSystemName="@CodeSystem.SnomedCt.Name()"
            displayName="@Model.Laterality.Term" />
        }
    </observation>
</entry>