﻿@using IO.Practiceware.Integration.Cda

@model QrdaCategory1EntryWithValueSetEntryModel


<entry typeCode="DRIV">
    <observation classCode="OBS" moodCode="EVN">
        <templateId root="@Oids.SupplementalDataPatientPayer" />
        @{
            if (Model.RootAndExtension != null)
            {
        <id extension="@Model.RootAndExtension.Extension" root="@Model.RootAndExtension.Root" />
        <code code="48768-6" 
                codeSystem="@CodeSystem.Loinc.Oid()" 
                codeSystemName="@CodeSystem.Loinc.Name()" 
                displayName="Payment source" />
        <statusCode code="completed" />
        @Html.Partial("QrdaCategory1/ValueSetEntryValue", Model.ValueSetEntry)
            }
            else
            {
        <id nullFlavor="UNK" />
            }
        }
    </observation>
</entry>

