﻿
@using IO.Practiceware.Integration.Cda

@model QrdaCategory1EntryWithValueSetEntryAndDateRangeAndResultModel

<entry typeCode="DRIV">
    <observation classCode="OBS" moodCode="EVN">
        <templateId root="@Oids.TobaccoUse" />
        <id extension="@Model.RootAndExtension.Extension" root="@Model.RootAndExtension.Root" />
        <code code="ASSERTION" 
              displayName="Assertion" 
              codeSystem="2.16.840.1.113883.5.4" 
              codeSystemName="ActCode"/>
        <statusCode code="completed"/>
        <effectiveTime>
            @Html.Partial("QrdaCategory1/Low", Model.Start)                    
            @Html.Partial("QrdaCategory1/High", Model.End)          
        </effectiveTime>

        @Html.Partial("QrdaCategory1/ValueSetEntryValue", Model.ResultValueSetEntry)
    </observation>
</entry>