﻿@using IO.Practiceware.Integration.Cda
@using IO.Practiceware.Services.Cda
@model QualityDataModelValueSetEntryModel
           
        <code code ="@Model.Code" codeSystem="@Model.CodeSystem.Oid()" codeSystemName="@Model.CodeSystem.Name()" sdtc:valueSet="@Model.ValueSet.Oid()">
            <originalText>@Model.ValueSet.Name() (Code List: @Model.ValueSet.Oid())</originalText>
        </code>